In [1]:
import os
import pandas as pd
import numpy as np

pd.options.display.max_colwidth = 15
pd.options.display.max_rows = 4

In [3]:
files_names = sorted(os.listdir('./data/processed/parquet/'))
files_names

['dfp_cia_aberta_2010.parquet',
 'dfp_cia_aberta_2011.parquet',
 'dfp_cia_aberta_2012.parquet',
 'dfp_cia_aberta_2013.parquet',
 'dfp_cia_aberta_2014.parquet',
 'dfp_cia_aberta_2015.parquet',
 'dfp_cia_aberta_2016.parquet',
 'dfp_cia_aberta_2017.parquet',
 'dfp_cia_aberta_2018.parquet',
 'dfp_cia_aberta_2019.parquet',
 'dfp_cia_aberta_2020.parquet',
 'dfp_cia_aberta_2021.parquet',
 'itr_cia_aberta_2020.parquet',
 'itr_cia_aberta_2021.parquet',
 'itr_cia_aberta_2022.parquet']

In [4]:
df = pd.DataFrame()
for file_name in files_names:
    dfy = pd.read_parquet(f'./data/processed/parquet/{file_name}')
    dfy.query("CD_CVM == 9512", inplace=True)
    df = pd.concat([df, dfy], ignore_index=True)
df

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1,Ativo Total,True,None,3.504189e+11
1,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,None,7.437357e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37112,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-01-01,2021-09-30,0,3.99.02.02,PN,False,None,5.760000e+03
37113,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-07-01,2021-09-30,0,3.99.02.02,PN,False,None,2.390000e+03

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37114 entries, 0 to 37113
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CD_CVM         37114 non-null  int32
 1   CNPJ_CIA       37114 non-null  object
 2   DENOM_CIA      37114 non-null  object
 3   GRUPO_DFP      37114 non-null  object
 4   VERSAO         37114 non-null  int8
 5   DT_REFER       37114 non-null  datetime64[ns]
 6   DT_INI_EXERC   25026 non-null  datetime64[ns]
 7   DT_FIM_EXERC   37114 non-null  datetime64[ns]
 8   ORDEM_EXERC    37114 non-null  int8
 9   CD_CONTA       37114 non-null  object
 10  DS_CONTA       37114 non-null  object
 11  ST_CONTA_FIXA  37114 non-null  bool
 12  COLUNA_DF      13916 non-null  object
 13  VL_CONTA       37114 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(1), int32(1), int8(2), object(6)
memory usage: 3.1+ MB

In [7]:
pd.read_parquet('./data/processed/parquet/dfp_cia_aberta_2020.parquet')['CD_CVM'].nunique()

719

In [8]:
df = pd.read_parquet('./data/processed/parquet/dfp_cia_aberta_2020.parquet', filters=[('CD_CVM','==',9512)])
df

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,2,2020-12-31,NaT,2019-12-31,-1,1,Ativo Total,True,None,9.260110e+11
1,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,2,2020-12-31,NaT,2019-12-31,-1,1.01,Ativo Circu...,True,None,1.121010e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,9512,33.000.167/...,PETROLEO BR...,DF Individu...,2,2020-12-31,2020-01-01,2020-12-31,0,3.99.02.01,ON,False,None,5.400000e+02
2187,9512,33.000.167/...,PETROLEO BR...,DF Individu...,2,2020-12-31,2020-01-01,2020-12-31,0,3.99.02.02,PN,False,None,5.400000e+02

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188 entries, 0 to 2187
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CD_CVM         2188 non-null   int32
 1   CNPJ_CIA       2188 non-null   object
 2   DENOM_CIA      2188 non-null   object
 3   GRUPO_DFP      2188 non-null   object
 4   VERSAO         2188 non-null   int8
 5   DT_REFER       2188 non-null   datetime64[ns]
 6   DT_INI_EXERC   1488 non-null   datetime64[ns]
 7   DT_FIM_EXERC   2188 non-null   datetime64[ns]
 8   ORDEM_EXERC    2188 non-null   int8
 9   CD_CONTA       2188 non-null   object
 10  DS_CONTA       2188 non-null   object
 11  ST_CONTA_FIXA  2188 non-null   bool
 12  COLUNA_DF      832 non-null    object
 13  VL_CONTA       2188 non-null   float64
dtypes: bool(1), datetime64[ns](3), float64(1), int32(1), int8(2), object(6)
memory usage: 186.0+ KB

In [10]:
import pyarrow.parquet as pq
table = pq.read_table(
    "./data/processed/parquet/",
    use_legacy_dataset=False,
    filters=[('CD_CVM','==',9512)])
df = table.to_pandas()
df

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1,Ativo Total,True,None,3.504189e+11
1,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,None,7.437357e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37112,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-01-01,2021-09-30,0,3.99.02.02,PN,False,None,5.760000e+03
37113,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-07-01,2021-09-30,0,3.99.02.02,PN,False,None,2.390000e+03

In [12]:
metadata = pq.read_metadata('./data/processed/parquet/dfp_cia_aberta_2020.parquet')
metadata

<pyarrow._parquet.FileMetaData object at 0x7fe116d32070>
  created_by: parquet-cpp-arrow version 6.0.1
  num_columns: 14
  num_rows: 1179386
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 7350

In [13]:
metadata.row_group(0).column(5)

<pyarrow._parquet.ColumnChunkMetaData object at 0x7fe250a10810>
  file_offset: 36506
  file_path:
  physical_type: INT64
  num_values: 1179386
  path_in_schema: DT_REFER
  is_stats_set: True
  statistics:
    <pyarrow._parquet.Statistics object at 0x7fe055959a30>
      has_min_max: True
      min: 2020-02-29 00:00:00
      max: 2020-12-31 00:00:00
      null_count: 0
      distinct_count: 0
      num_values: 1179386
      physical_type: INT64
      logical_type: Timestamp(isAdjustedToUTC=false, timeUnit=microseconds, is_from_converted_type=false, force_set_converted_type=false)
      converted_type (legacy): NONE
  compression: ZSTD
  encodings: ('PLAIN_DICTIONARY', 'PLAIN', 'RLE')
  has_dictionary_page: True
  dictionary_page_offset: 36208
  data_page_offset: 36279
  total_compressed_size: 298
  total_uncompressed_size: 280

In [14]:
import pyarrow.dataset as ds
dataset = ds.dataset('./data/processed/parquet/', format='parquet')
dataset.files

['./data/processed/parquet/dfp_cia_aberta_2010.parquet',
 './data/processed/parquet/dfp_cia_aberta_2011.parquet',
 './data/processed/parquet/dfp_cia_aberta_2012.parquet',
 './data/processed/parquet/dfp_cia_aberta_2013.parquet',
 './data/processed/parquet/dfp_cia_aberta_2014.parquet',
 './data/processed/parquet/dfp_cia_aberta_2015.parquet',
 './data/processed/parquet/dfp_cia_aberta_2016.parquet',
 './data/processed/parquet/dfp_cia_aberta_2017.parquet',
 './data/processed/parquet/dfp_cia_aberta_2018.parquet',
 './data/processed/parquet/dfp_cia_aberta_2019.parquet',
 './data/processed/parquet/dfp_cia_aberta_2020.parquet',
 './data/processed/parquet/dfp_cia_aberta_2021.parquet',
 './data/processed/parquet/itr_cia_aberta_2020.parquet',
 './data/processed/parquet/itr_cia_aberta_2021.parquet',
 './data/processed/parquet/itr_cia_aberta_2022.parquet']

In [15]:
dataset.to_table().to_pandas()

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/...,PANATLANTIC...,DF Consolid...,2,2010-12-31,NaT,2009-12-31,-1,1,Ativo Total,True,None,211293000.0
1,94,92.693.019/...,PANATLANTIC...,DF Consolid...,2,2010-12-31,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,None,164307000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17608709,25810,31.701.408/...,ATHENA SAÃšD...,DF Individu...,1,2022-03-31,2022-01-01,2022-03-31,0,3.99.02,Lucro DiluÃ­...,False,None,0.0
17608710,25810,31.701.408/...,ATHENA SAÃšD...,DF Individu...,1,2022-03-31,2022-01-01,2022-03-31,0,3.99.02.01,ON,False,None,-62.6

In [16]:
dataset.to_table(filter=ds.field('CD_CVM') == 9512).to_pandas()

,CD_CVM,CNPJ_CIA,DENOM_CIA,GRUPO_DFP,VERSAO,DT_REFER,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1,Ativo Total,True,None,3.504189e+11
1,9512,33.000.167/...,PETROLEO BR...,DF Consolid...,3,2010-12-31,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,None,7.437357e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37112,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-01-01,2021-09-30,0,3.99.02.02,PN,False,None,5.760000e+03
37113,9512,33.000.167/...,PETROLEO BR...,DF Individu...,1,2021-09-30,2021-07-01,2021-09-30,0,3.99.02.02,PN,False,None,2.390000e+03