In [1]:
import io
# import importlib
import pandas as pd
import numpy as np
from company import Company

#importlib.reload(company)

pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [70]:
%%time
file_path = './data/processed/dataset.pkl.zst'
DATASET = pd.read_pickle(file_path)
DATASET

CPU times: user 87.9 ms, sys: 36 ms, total: 124 ms
Wall time: 123 ms

,CD_CVM,CNPJ_CIA,DENOM_CIA,is_annual,is_consolidated,fs_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,211293000.0
1,94,92.693.019/0001-89,PANATLANTICA S.A.,True,False,1,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,191541000.0
2,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circulante,True,NaN,164307000.0
3,94,92.693.019/0001-89,PANATLANTICA S.A.,True,False,1,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circulante,True,NaN,127423000.0
4,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1.01.01,Caixa e Equivale...,True,NaN,2055000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783055,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03,Remuneração de C...,True,NaN,328371.0
6783056,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03.01,Juros,True,NaN,328371.0
6783057,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04,Remuneração de C...,True,NaN,-1200611.0
6783058,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04.03,Lucros Retidos /...,True,NaN,-1200611.0
6783059,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.05,Outros,True,NaN,486752.0

In [71]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6783060 entries, 0 to 6783059
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   CD_CVM           category
 1   CNPJ_CIA         category
 2   DENOM_CIA        category
 3   is_annual        category
 4   is_consolidated  category
 5   fs_type          category
 6   DT_REFER         category
 7   VERSAO           category
 8   DT_INI_EXERC     category
 9   DT_FIM_EXERC     category
 10  ORDEM_EXERC      category
 11  CD_CONTA         category
 12  DS_CONTA         category
 13  ST_CONTA_FIXA    category
 14  COLUNA_DF        category
 15  VL_CONTA         category
dtypes: category(16)
memory usage: 217.3 MB

In [62]:
# df_dataset.query("CD_CVM == 9512")
# df_dataset.query("VL_CONTA == 0")
DATASET.VL_CONTA.nunique()

987144

In [2]:
petro = Company(9512)
df = petro.assets()
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,COLUNA_DF,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,NaN,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,NaN,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,NaN,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Caixa e Bancos,1.01.01.01,False,NaN,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,2.227292e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Finan...,1.01.01.02,False,NaN,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,3.494453e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Outros Ativos Nã...,1.02.01.10,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.208000e+10,3.664900e+10,3.925900e+10,4.113700e+10,4.519000e+10
83,Adiantamento a F...,1.02.01.10.03,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.413000e+09,2.575000e+09,1.313000e+09,NaN,NaN
84,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
85,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
86,Depósitos Vincul...,1.01.08.03.01,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.287000e+09,NaN,NaN,NaN

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   is_annual        553 non-null    bool
 1   is_consolidated  553 non-null    bool
 2   fs_type          553 non-null    int8
 3   DT_REFER         553 non-null    datetime64[ns]
 4   DT_INI_EXERC     0 non-null      datetime64[ns]
 5   DT_FIM_EXERC     553 non-null    datetime64[ns]
 6   CD_CONTA         553 non-null    object
 7   DS_CONTA         553 non-null    object
 8   ST_CONTA_FIXA    553 non-null    bool
 9   COLUNA_DF        0 non-null      object
 10  VL_CONTA         553 non-null    float64
dtypes: bool(3), datetime64[ns](3), float64(1), int8(1), object(3)
memory usage: 32.5+ KB

               DS_CONTA       CD_CONTA  ST_CONTA_FIXA COLUNA_DF
0           Ativo Total              1           True       NaN
1      Ativo Circulante           1.01           True       NaN
2   Caixa e Equivale...        1.01.01           True       NaN
3        Caixa e Bancos     1.01.01.01          False       NaN
4   Aplicações Finan...     1.01.01.02          False       NaN
..                  ...            ...            ...       ...
82  Outros Ativos Nã...     1.02.01.10           True       NaN
83  Adiantamento a F...  1.02.01.10.03          False       NaN
84  Depósitos Judiciais  1.02.01.10.04          False       NaN
85  Outros Realizáve...  1.02.01.10.05          False       NaN
86  Depósitos Vincul...  1.01.08.03.01          False       NaN

[87 rows x 4 columns]

In [195]:
periods = df.DT_FIM_EXERC.unique()
periods

array(['2009-12-31T00:00:00.000000000', '2010-12-31T00:00:00.000000000',
       '2011-12-31T00:00:00.000000000', '2012-12-31T00:00:00.000000000',
       '2013-12-31T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2015-12-31T00:00:00.000000000', '2016-12-31T00:00:00.000000000',
       '2017-12-31T00:00:00.000000000', '2018-12-31T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [197]:
df.DT_FIM_EXERC.nunique()

13

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,COLUNA_DF,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,NaN,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,NaN,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,NaN,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Caixa e Bancos,1.01.01.01,False,NaN,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,2.227292e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Finan...,1.01.01.02,False,NaN,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,3.494453e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Outros Ativos Nã...,1.02.01.10,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.208000e+10,3.664900e+10,3.925900e+10,4.113700e+10,4.519000e+10
83,Adiantamento a F...,1.02.01.10.03,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.413000e+09,2.575000e+09,1.313000e+09,NaN,NaN
84,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
85,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
86,Depósitos Vincul...,1.01.08.03.01,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.287000e+09,NaN,NaN,NaN

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   is_annual        554 non-null    bool
 1   is_consolidated  554 non-null    bool
 2   fs_type          554 non-null    int8
 3   DT_REFER         554 non-null    datetime64[ns]
 4   DT_INI_EXERC     0 non-null      datetime64[ns]
 5   DT_FIM_EXERC     554 non-null    datetime64[ns]
 6   CD_CONTA         554 non-null    object
 7   DS_CONTA         554 non-null    object
 8   ST_CONTA_FIXA    554 non-null    bool
 9   COLUNA_DF        0 non-null      object
 10  VL_CONTA         554 non-null    float64
dtypes: bool(3), datetime64[ns](3), float64(1), int8(1), object(3)
memory usage: 32.6+ KB

In [ ]:
for column, c_type in zip(df.columns, df.dtypes):
    if (c_type != 'int8') and (c_type != 'bool') and (c_type != 'float64'):
        print(column, c_type)
        df[f'{column}'] = df[f'{column}'].astype('category')