In [23]:
import pandas as pd
import numpy as np

pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [70]:
%%time
file_path = './data/processed/dataset.pkl.zst'
DATASET = pd.read_pickle(file_path)
DATASET

CPU times: user 87.9 ms, sys: 36 ms, total: 124 ms
Wall time: 123 ms

,CD_CVM,CNPJ_CIA,DENOM_CIA,is_annual,is_consolidated,fs_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,211293000.0
1,94,92.693.019/0001-89,PANATLANTICA S.A.,True,False,1,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,191541000.0
2,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circulante,True,NaN,164307000.0
3,94,92.693.019/0001-89,PANATLANTICA S.A.,True,False,1,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circulante,True,NaN,127423000.0
4,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,1,2010-12-31,2,NaT,2009-12-31,-1,1.01.01,Caixa e Equivale...,True,NaN,2055000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783055,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03,Remuneração de C...,True,NaN,328371.0
6783056,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03.01,Juros,True,NaN,328371.0
6783057,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04,Remuneração de C...,True,NaN,-1200611.0
6783058,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04.03,Lucros Retidos /...,True,NaN,-1200611.0
6783059,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,7,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.05,Outros,True,NaN,486752.0

In [71]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6783060 entries, 0 to 6783059
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   CD_CVM           category
 1   CNPJ_CIA         category
 2   DENOM_CIA        category
 3   is_annual        category
 4   is_consolidated  category
 5   fs_type          category
 6   DT_REFER         category
 7   VERSAO           category
 8   DT_INI_EXERC     category
 9   DT_FIM_EXERC     category
 10  ORDEM_EXERC      category
 11  CD_CONTA         category
 12  DS_CONTA         category
 13  ST_CONTA_FIXA    category
 14  COLUNA_DF        category
 15  VL_CONTA         category
dtypes: category(16)
memory usage: 217.3 MB

In [62]:
# df_dataset.query("CD_CVM == 9512")
# df_dataset.query("VL_CONTA == 0")
DATASET.VL_CONTA.nunique()

987144

In [ ]:
for column, c_type in zip(df.columns, df.dtypes):
    if (c_type != 'int8') and (c_type != 'bool') and (c_type != 'float64'):
        print(column, c_type)
        df[f'{column}'] = df[f'{column}'].astype('category')