In [1]:
import importlib
import pandas as pd
import context # noqa
pd.options.display.max_colwidth = 15
pd.options.display.max_rows = 40

In [2]:
%%time
file_path = '/home/crcj/GitHub/BrFin/brfin/data/processed/dataset.pkl.zst'
DATASET = pd.read_pickle(file_path)
DATASET

CPU times: user 75.6 ms, sys: 39.6 ms, total: 115 ms
Wall time: 115 ms

,CD_CVM,CNPJ_CIA,DENOM_CIA,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,211293000.0
1,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,NaN,164307000.0
2,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.01,Caixa e Equ...,True,NaN,2055000.0
3,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.02,Aplicações ...,True,NaN,44510000.0
4,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.02.02,Aplicações ...,True,NaN,44510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828296,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03,Remuneração...,True,NaN,328371.0
6828297,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03.01,Juros,True,NaN,328371.0
6828298,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04,Remuneração...,True,NaN,-1200611.0
6828299,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04.03,Lucros Reti...,True,NaN,-1200611.0
6828300,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.05,Outros,True,NaN,486752.0

In [3]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6828301 entries, 0 to 6828300
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   CD_CVM         category
 1   CNPJ_CIA       category
 2   DENOM_CIA      category
 3   report_period  category
 4   report_type    category
 5   DT_REFER       category
 6   VERSAO         category
 7   DT_INI_EXERC   category
 8   DT_FIM_EXERC   category
 9   ORDEM_EXERC    category
 10  CD_CONTA       category
 11  DS_CONTA       category
 12  ST_CONTA_FIXA  category
 13  COLUNA_DF      category
 14  VL_CONTA       category
dtypes: category(15)
memory usage: 212.0 MB

In [4]:
# df_dataset.query("CD_CVM == 9512")
# df_dataset.query("VL_CONTA == 0")
DATASET.VL_CONTA.nunique()

992969

In [5]:
DATASET.query("COLUNA_DF.notnull()")

,CD_CVM,CNPJ_CIA,DENOM_CIA,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
92,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Inic...,True,Capital Soc...,66060000.0
93,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Inic...,True,Reservas de...,264000.0
94,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Inic...,True,Reservas de...,47493000.0
95,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Inic...,True,Patrimônio ...,113817000.0
96,94,92.693.019/...,PANATLANTIC...,annual,consolidated,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Inic...,True,Patrimônio ...,113817000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828262,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,5.05.01,Lucro Líqui...,True,Patrimônio ...,-1200611.0
6828263,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Capital Soc...,47291001.0
6828264,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Reservas de...,1455881.0
6828265,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Lucros ou P...,-36379890.0
6828266,518700,70.216.429/...,BRAMEX - BR...,annual,separate,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Patrimônio ...,12366992.0