In [4]:
import importlib
import pandas as pd
import numpy as np
import context # noqa
import brfinance.dataset as bf
importlib.reload(bf)
pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40

In [5]:
file_path = '/home/crcj/GitHub/BrFin/brfinance/data/processed/dataset.pkl.zst'
DATASET = pd.read_pickle(file_path)
DATASET

,cvm_id,fiscal_id,company_name,report_period,report_version,report_type,reference_date,start_date,end_date,year_order,account_code,account_name,fixed_account,report_column,account_value
0,94,92.693.019/0001-89,PANATLANTICA S.A.,annual,2,consolidated,2010-12-31,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,211293000.0
1,94,92.693.019/0001-89,PANATLANTICA S.A.,annual,2,consolidated,2010-12-31,NaT,2009-12-31,-1,1.01,Ativo Circulante,True,NaN,164307000.0
2,94,92.693.019/0001-89,PANATLANTICA S.A.,annual,2,consolidated,2010-12-31,NaT,2009-12-31,-1,1.01.01,Caixa e Equivalentes de Caixa,True,NaN,2055000.0
3,94,92.693.019/0001-89,PANATLANTICA S.A.,annual,2,consolidated,2010-12-31,NaT,2009-12-31,-1,1.01.02,Aplicações Financeiras,True,NaN,44510000.0
4,94,92.693.019/0001-89,PANATLANTICA S.A.,annual,2,consolidated,2010-12-31,NaT,2009-12-31,-1,1.01.02.02,Aplicações Financeiras Avaliadas ao Custo Amor...,True,NaN,44510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6896771,518700,70.216.429/0001-04,BRAMEX - BRASIL MERCANTIL S.A.,annual,1,separate,2013-12-31,2013-01-01,2013-12-31,0,7.08.03,Remuneração de Capitais de Terceiros,True,NaN,328371.0
6896772,518700,70.216.429/0001-04,BRAMEX - BRASIL MERCANTIL S.A.,annual,1,separate,2013-12-31,2013-01-01,2013-12-31,0,7.08.03.01,Juros,True,NaN,328371.0
6896773,518700,70.216.429/0001-04,BRAMEX - BRASIL MERCANTIL S.A.,annual,1,separate,2013-12-31,2013-01-01,2013-12-31,0,7.08.04,Remuneração de Capitais Próprios,True,NaN,-1200611.0
6896774,518700,70.216.429/0001-04,BRAMEX - BRASIL MERCANTIL S.A.,annual,1,separate,2013-12-31,2013-01-01,2013-12-31,0,7.08.04.03,Lucros Retidos / Prejuízo do Período,True,NaN,-1200611.0
6896775,518700,70.216.429/0001-04,BRAMEX - BRASIL MERCANTIL S.A.,annual,1,separate,2013-12-31,2013-01-01,2013-12-31,0,7.08.05,Outros,True,NaN,486752.0

In [6]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896776 entries, 0 to 6896775
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   cvm_id          category
 1   fiscal_id       category
 2   company_name    category
 3   report_period   category
 4   report_version  category
 5   report_type     category
 6   reference_date  category
 7   start_date      category
 8   end_date        category
 9   year_order      category
 10  account_code    category
 11  account_name    category
 12  fixed_account   category
 13  report_column   category
 14  account_value   category
dtypes: category(15)
memory usage: 213.8 MB

In [3]:
DATASET.columns

Index(['CD_CVM', 'CNPJ_CIA', 'DENOM_CIA', 'report_period', 'report_type',
       'DT_REFER', 'VERSAO', 'DT_INI_EXERC', 'DT_FIM_EXERC', 'ORDEM_EXERC',
       'CD_CONTA', 'DS_CONTA', 'ST_CONTA_FIXA', 'COLUNA_DF', 'VL_CONTA'],
      dtype='object')

In [21]:
expression = 'petro'
expression = expression.upper()
df = DATASET[DATASET.DENOM_CIA.str.contains(expression)].copy()
df.sort_values(by='DENOM_CIA', inplace=True)
df.drop_duplicates(subset='CD_CVM', inplace=True, ignore_index=True)
columns = ['DENOM_CIA', 'CD_CVM', 'CNPJ_CIA']
df[columns]

                                DENOM_CIA CD_CVM            CNPJ_CIA
6            3R PETROLEUM ÓLEO E GÁS S.A.  25291  12.091.809/0001-55
4                          PETRO RIO S.A.  22187  10.629.105/0001-68
5             PETROBRAS DISTRIBUIDORA S/A  24295  34.274.233/0001-02
0      PETROLEO BRASILEIRO S.A. PETROBRAS   9512  33.000.167/0001-01
1             PETROLEO LUB DO NORDESTE SA   9520  07.275.159/0001-68
7                     PETRORECÔNCAVO S.A.  25780  03.342.704/0001-30
2                  PRONOR PETROQUIMICA SA   9784  13.552.070/0001-02
3  REFINARIA DE PETROLEOS MANGUINHOS S.A.   9989  33.412.081/0001-96

In [34]:
lista = DATASET.query('CD_CONTA == "3.99.01.08"').DS_CONTA.astype(str).unique()
lista.sort()
lista

array(['PNF'], dtype=object)

In [14]:
DATASET.replace(to_replace=['\xa0ON\xa0', 'On'], value='ON', inplace=True)

In [37]:
df = DATASET.query("CD_CVM == 25291").copy()
# df_dataset.query("VL_CONTA == 0")
df

,CD_CVM,CNPJ_CIA,DENOM_CIA,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
6355555,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2019-12-31,1,NaT,2018-12-31,-1,1,Ativo Total,True,NaN,425782000.0
6355556,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2019-12-31,1,NaT,2018-12-31,-1,1.01,Ativo Circu...,True,NaN,103470000.0
6355557,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2019-12-31,1,NaT,2018-12-31,-1,1.01.01,Caixa e Equ...,True,NaN,82757000.0
6355558,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2019-12-31,1,NaT,2018-12-31,-1,1.01.03,Contas a Re...,True,NaN,7024000.0
6355559,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2019-12-31,1,NaT,2018-12-31,-1,1.01.03.01,Clientes,True,NaN,7024000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362319,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,7.08.03.01,Juros,True,NaN,273000.0
6362320,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,7.08.03.02,Aluguéis,True,NaN,352000.0
6362321,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,7.08.03.03,Outras,True,NaN,133149000.0
6362322,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,7.08.04,Remuneração...,True,NaN,-905000.0
6362323,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,7.08.04.03,Lucros Reti...,True,NaN,-905000.0

In [38]:
df['account_codes_1and2'] = df['CD_CONTA'].str[0:4]
df.query('account_codes_1and2 == "3.99" and DT_FIM_EXERC == "2021-12-31"')

,CD_CVM,CNPJ_CIA,DENOM_CIA,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA,account_codes_1and2
6361992,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2021-12-31,1,2021-01-01,2021-12-31,0,3.99.01.01,ON,False,NaN,-0.01,3.99
6361993,25291,12.091.809/...,3R PETROLEU...,annual,consolidated,2021-12-31,1,2021-01-01,2021-12-31,0,3.99.02.01,ON,False,NaN,-0.01,3.99
6362212,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,3.99.01.01,ON,False,NaN,-0.01,3.99
6362213,25291,12.091.809/...,3R PETROLEU...,annual,separate,2021-12-31,1,2021-01-01,2021-12-31,0,3.99.02.01,ON,False,NaN,-0.01,3.99

array(['f', 'f', 'f', ..., 'f', 'f', 'f'], dtype='<U1')