In [1]:
import importlib
import pandas as pd
import context # noqa
import brfin.financial
from brfin.financial import Financial
importlib.reload(brfin.financial)
pd.options.display.max_colwidth = 20
pd.options.display.max_rows = 40

In [2]:
petro = Financial(9512, report_type='separate', min_end_period='2015-12-31', max_end_period='2022-12-31')
petro.assets
#petro._companies_list

Selected min_end_period = 2015-12-31
Selected max_end_period = 2022-12-31

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,6.986460e+11,6.820880e+11,7.238550e+11,8.397170e+11,1.129118e+12,1.178600e+12,1.239448e+12
1,Ativo Circulante,1.01,True,8.147900e+10,8.126400e+10,8.188300e+10,9.654100e+10,1.430140e+11,1.008630e+11,1.705190e+11
2,Caixa e Equivale...,1.01.01,True,1.655300e+10,6.267000e+09,1.305000e+09,6.334000e+09,4.322000e+09,5.180000e+09,4.853000e+09
3,Aplicações Finan...,1.01.02,True,2.982000e+09,2.487000e+09,3.531000e+09,3.974000e+09,3.200000e+09,2.963000e+09,2.920000e+09
4,Contas a Receber,1.01.03,True,2.770100e+10,3.107300e+10,3.423900e+10,3.673100e+10,7.881300e+10,4.432100e+10,9.163400e+10
...,...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,1.708500e+10,2.447600e+10,3.286100e+10,3.748700e+10,4.237100e+10
39,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,8.815000e+09,6.701000e+09,5.796000e+09,3.083000e+09,2.868000e+09
40,Investimentos,1.02.02,True,1.155360e+11,1.211910e+11,1.493560e+11,1.758270e+11,1.826660e+11,2.418750e+11,2.558710e+11
41,Imobilizado,1.02.03,True,4.424390e+11,4.247710e+11,4.355360e+11,4.833750e+11,6.628160e+11,6.700880e+11,7.261990e+11
42,Intangível,1.02.04,True,9.133000e+09,8.764000e+09,6.264000e+09,9.268000e+09,7.790400e+10,7.725800e+10,1.644500e+10

In [3]:
petro = Financial(9512, min_end_period='2015-12-31')
df = petro.assets
df

Selected min_end_period = 2015-12-31
Selected max_end_period = 2200-12-31

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Ativo Total,1,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Ativo Circulante,1.01,True,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.663340e+11
2,Caixa e Equivale...,1.01.01,True,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.939400e+10
3,Aplicações Finan...,1.01.02,True,3.047000e+09,2.556000e+09,6.237000e+09,4.198000e+09,3.580000e+09,3.424000e+09,2.920000e+09
4,Contas a Receber,1.01.03,True,2.168500e+10,1.554300e+10,1.644600e+10,2.226400e+10,1.516400e+10,2.458400e+10,2.556000e+10
...,...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,NaN,1.846500e+10,2.600300e+10,3.319800e+10,3.783800e+10,4.269100e+10
39,Outros Realizáve...,1.02.01.10.05,False,NaN,NaN,1.020200e+10,8.071000e+09,6.061000e+09,3.299000e+09,2.499000e+09
40,Investimentos,1.02.02,True,1.377200e+10,9.948000e+09,1.255400e+10,1.069000e+10,2.216600e+10,1.701000e+10,1.024700e+10
41,Imobilizado,1.02.03,True,6.298310e+11,5.718760e+11,5.843570e+11,6.098290e+11,6.419490e+11,6.454340e+11,7.038680e+11
42,Intangível,1.02.04,True,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.660100e+10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DS_CONTA       43 non-null     object
 1   CD_CONTA       43 non-null     object
 2   ST_CONTA_FIXA  43 non-null     bool
 3   2015-12-31     30 non-null     float64
 4   2016-12-31     29 non-null     float64
 5   2017-12-31     38 non-null     float64
 6   2018-12-31     29 non-null     float64
 7   2019-12-31     28 non-null     float64
 8   2020-12-31     27 non-null     float64
 9   2021-09-30     27 non-null     float64
dtypes: bool(1), float64(7), object(2)
memory usage: 3.2+ KB

In [5]:
df = petro.liabilities_and_equity
df

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Passivo Total,2,True,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.746890e+11
1,Passivo Circulante,2.01,True,1.115720e+11,8.116700e+10,8.253500e+10,9.706800e+10,1.161470e+11,1.362870e+11,1.386640e+11
2,Obrigações Socia...,2.01.01,True,5.085000e+09,7.159000e+09,4.331000e+09,6.426000e+09,6.632000e+09,1.015000e+10,9.182000e+09
3,Fornecedores,2.01.02,True,2.488800e+10,1.878100e+10,1.907700e+10,2.451600e+10,2.257600e+10,3.564500e+10,2.950200e+10
4,Obrigações Fiscais,2.01.03,True,4.100000e+08,4.120000e+08,9.900000e+08,8.170000e+08,1.114000e+09,1.029000e+09,3.140000e+09
...,...,...,...,...,...,...,...,...,...,...
43,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
46,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
47,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [6]:
df.sort_values('DS_CONTA').tail(10)

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
38,Plano de Pensão ...,2.02.04.02.04,False,4.761800e+10,6.999600e+10,6.942100e+10,8.501200e+10,1.032130e+11,7.545400e+10,6.383700e+10
39,Provisão para De...,2.02.04.02.05,False,3.572800e+10,3.341200e+10,4.678500e+10,5.863700e+10,7.037700e+10,9.759500e+10,9.492800e+10
35,Provisões,2.02.04,True,9.411100e+10,1.162500e+11,1.349570e+11,1.626070e+11,1.915790e+11,1.959300e+11,1.831840e+11
18,Provisões,2.01.06,True,2.556000e+09,2.672000e+09,1.025400e+10,1.663000e+10,3.577000e+09,8.049000e+09,3.744000e+09
20,Provisões Cíveis,2.01.06.01.04,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
36,Provisões Fiscai...,2.02.04.01,True,8.776000e+09,1.105200e+10,1.577800e+10,1.520200e+10,1.254600e+10,1.142700e+10,1.199000e+10
19,Provisões Fiscai...,2.01.06.01,True,NaN,NaN,7.463000e+09,1.349300e+10,NaN,NaN,NaN
44,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
45,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
33,Tributos Diferidos,2.02.03,True,9.060000e+08,8.560000e+08,3.956000e+09,2.536000e+09,7.095000e+09,1.015000e+09,8.450000e+08

In [7]:
petro.equity

,DS_CONTA,CD_CONTA,ST_CONTA_FIXA,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-09-30
0,Patrimônio Líqui...,2.03,True,2.579300e+11,2.527430e+11,2.696090e+11,2.835430e+11,2.991370e+11,3.111500e+11,3.756890e+11
1,Capital Social R...,2.03.01,True,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11,2.054320e+11
2,Reservas de Capital,2.03.02,True,2.100000e+07,1.035000e+09,2.457000e+09,2.458000e+09,2.449000e+09,2.449000e+09,-1.254000e+09
3,Reservas de Lucros,2.03.04,True,9.261200e+10,7.780000e+10,7.736400e+10,9.536400e+10,1.248290e+11,1.275120e+11,1.651100e+11
4,Outros Resultado...,2.03.08,True,-4.333400e+10,-3.403700e+10,-2.126800e+10,-2.602900e+10,-3.716900e+10,-2.698300e+10,-2.110000e+08
5,Participação dos...,2.03.09,True,3.199000e+09,2.513000e+09,5.624000e+09,6.318000e+09,3.596000e+09,2.740000e+09,6.612000e+09

In [8]:
petro._df_main

,CD_CVM,CNPJ_CIA,DENOM_CIA,report_period,report_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA,ac_l1,ac_l2
0,9512,33.000.167/0001-01,PETROLEO BRASILE...,annual,consolidated,2015-12-31,1,NaT,2015-12-31,0,1,Ativo Total,True,NaN,9.001350e+11,1,NaN
1,9512,33.000.167/0001-01,PETROLEO BRASILE...,annual,consolidated,2015-12-31,1,NaT,2015-12-31,0,1.01,Ativo Circulante,True,NaN,1.695810e+11,1,1.0
2,9512,33.000.167/0001-01,PETROLEO BRASILE...,annual,consolidated,2015-12-31,1,NaT,2015-12-31,0,1.01.01,Caixa e Equivale...,True,NaN,9.784500e+10,1,1.0
3,9512,33.000.167/0001-01,PETROLEO BRASILE...,annual,consolidated,2015-12-31,1,NaT,2015-12-31,0,1.01.02,Aplicações Finan...,True,NaN,3.047000e+09,1,1.0
4,9512,33.000.167/0001-01,PETROLEO BRASILE...,annual,consolidated,2015-12-31,1,NaT,2015-12-31,0,1.01.03,Contas a Receber,True,NaN,2.265900e+10,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6084,9512,33.000.167/0001-01,PETROLEO BRASILE...,quarterly,consolidated,2021-09-30,1,2021-01-01,2021-09-30,0,7.08.03.02,Aluguéis,True,NaN,3.621000e+09,7,8.0
6085,9512,33.000.167/0001-01,PETROLEO BRASILE...,quarterly,consolidated,2021-09-30,1,2021-01-01,2021-09-30,0,7.08.04,Remuneração de C...,True,NaN,7.554100e+10,7,8.0
6086,9512,33.000.167/0001-01,PETROLEO BRASILE...,quarterly,consolidated,2021-09-30,1,2021-01-01,2021-09-30,0,7.08.04.02,Dividendos,True,NaN,3.170500e+10,7,8.0
6087,9512,33.000.167/0001-01,PETROLEO BRASILE...,quarterly,consolidated,2021-09-30,1,2021-01-01,2021-09-30,0,7.08.04.03,Lucros Retidos /...,True,NaN,4.345900e+10,7,8.0
6088,9512,33.000.167/0001-01,PETROLEO BRASILE...,quarterly,consolidated,2021-09-30,1,2021-01-01,2021-09-30,0,7.08.04.04,Part. Não Contro...,True,NaN,3.770000e+08,7,8.0