In [90]:
import importlib
import pandas as pd
import numpy as np
import context # noqa
import brfinance.finance as bf
importlib.reload(bf)
pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40

In [91]:
bf.Finance.search_corp_name('brasilagro')

                                 corp_name corp_id      corp_fiscal_id
0  BRASILAGRO - CIA BRAS DE PROP AGRICOLAS   20036  07.628.528/0001-59

In [92]:
# prio  22187
# petro 9512
corp = bf.Finance(identifier=20036)
corp.info()

{'Corp. Name': 'BRASILAGRO - CIA BRAS DE PROP AGRICOLAS',
 'Corp. ID (CVM number)': 20036,
 'Corp. Fiscal ID': '07.628.528/0001-59',
 'First Annual Report': '2010-06-30',
 'Last Annual Report': '2021-06-30',
 'Last Quarterly Report': '2021-12-31'}

In [93]:
# corporation.corporation_id = 9512

In [94]:
corp.report(
    rtype='liabilities',
    accounting_method='separate',
    unit=1_000_000,
    account_level=3,
    first_period='2015-01-01')

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Passivo Circulante,2.01,True,124.134,76.083,112.742,104.550,164.107,253.281,528.541,432.989
1,Obrigações Sociais e Trabalhistas,2.01.01,True,11.016,8.642,9.813,11.573,13.938,15.162,17.464,7.178
2,Fornecedores,2.01.02,True,24.062,37.518,50.029,60.920,68.472,70.355,152.670,136.533
3,Obrigações Fiscais,2.01.03,True,1.526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Empréstimos e Financiamentos,2.01.04,True,31.258,23.714,43.141,16.282,69.340,147.702,309.345,249.237
5,Outras Obrigações,2.01.05,True,56.272,6.209,9.759,15.775,12.357,20.062,49.062,40.041
6,Passivo Não Circulante,2.02,True,19.828,19.264,11.356,176.635,169.144,431.979,464.247,447.670
7,Empréstimos e Financiamentos,2.02.01,True,15.642,13.605,9.976,173.524,168.529,404.815,460.625,439.824
8,Outras Obrigações,2.02.02,True,4.186,5.659,1.380,3.111,0.615,27.164,3.622,7.846

In [95]:
corp.report(
    rtype='cash_flow',
    account_level=2,
    unit=1_000_000,
    first_period='2015-01-01')

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
1,Caixa Líquido Atividades de Investimento,6.02,True,19.952,149.773,-13.527,-65.700,-21.266,-29.295,-214.009,-194.268
2,Caixa Líquido Atividades de Financiamento,6.03,True,-19.902,-164.749,-61.930,125.414,-27.621,18.451,954.857,678.425
3,Variação Cambial s/ Caixa e Equivalentes,6.04,True,NaN,NaN,NaN,3.066,-0.138,6.238,-4.018,-0.268
4,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-11.125,-21.416,-10.406,60.516,2.313,64.418,888.062,735.890

In [96]:
accounts = [
    '3.01', '3.02', '3.03', '3.04', '3.04.01', '3.04.02', '3.04.03', '3.04.04',
    '3.04.05', '3.04.06', '3.05', '3.06', '3.07', '3.08', '3.09', '3.10',
    '3.10.01', '3.11', '1.01', '1.01.01', '1.01.02', '1.01.03', '1.01.04',
    '1.01.05', '1.01.06', '1.01.07', '1.01.08', '1.02.01', '1.02.02',
    '1.02.03', '1.02.04', '2.01', '2.01.01', '2.01.02', '2.01.03', '2.01.04',
    '2.01.05', '2.01.06', '2.02', '2.02.01', '2.02.02', '2.02.03', '2.02.04',
    '2.03', '2.03.09', '6.01', '6.01.01', '6.01.02'
]
df = corp.get_accounts(accounts, unit=1_000_000, first_period='2015-01-01')
df

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Ativo Circulante,1.01,True,448.837,264.879,171.102,372.279,440.827,642.464,1761.206,1782.404
1,Caixa e Equivalentes de Caixa,1.01.01,True,75.620,54.204,43.798,104.314,106.627,171.045,1059.107,899.711
2,Aplicações Financeiras,1.01.02,True,273.258,113.559,6.972,11.215,4.038,NaN,NaN,NaN
3,Contas a Receber,1.01.03,True,47.200,32.137,55.324,96.836,127.307,184.051,193.094,325.670
4,Estoques,1.01.04,True,32.225,18.197,22.658,69.622,97.068,138.778,265.859,125.617
...,...,...,...,...,...,...,...,...,...,...,...
37,Resultado Líquido das Operações Continuadas,3.09,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
38,Lucro/Prejuízo Consolidado do Período,3.11,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
39,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
40,Caixa Gerado nas Operações,6.01.01,True,-11.046,-11.723,2.926,-10.316,20.867,-38.392,-185.114,-167.461
41,Variações nos Ativos e Passivos,6.01.02,True,-0.129,5.283,62.125,8.052,30.471,107.416,336.346,419.607

In [97]:
corp.operating_performance()

,2010-06-30,2011-06-30,2012-06-30,2013-06-30,2014-06-30,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
return_on_assets,NaN,0.009826,-0.011613,0.024190,-0.023429,0.125831,-0.018762,-0.000143,0.120160,0.104559,0.079866,0.127237,0.151573
return_on_capital,NaN,NaN,NaN,NaN,-0.029905,0.174954,-0.037203,-0.000197,0.145617,0.134596,0.098287,NaN,NaN
return_on_equity,NaN,0.026145,-0.011440,0.051393,-0.022764,0.309656,0.010622,0.039724,0.189279,0.234274,0.135775,0.283216,0.308193
gross_margin,-2.154006,0.393006,0.126040,0.301817,0.089831,0.544835,0.003263,0.259860,0.405514,0.425254,0.313941,0.402668,0.465307
operating_margin,-3.116285,0.068860,-0.055882,0.072821,-0.118651,0.278285,-0.141293,-0.000663,0.276353,0.222071,0.153753,0.213095,0.275257
net_margin,-2.027888,0.144721,-0.042274,0.117536,-0.087788,0.482720,0.059110,0.148232,0.328953,0.318831,0.169531,0.260223,0.356314