In [18]:
import importlib
import pandas as pd
import numpy as np
import context # noqa
import brfinance.finance as bf
importlib.reload(bf)
pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40

In [19]:
bf.Finance.search_company('Petro')

                             company_name cvm_id           fiscal_id
0            3R PETROLEUM ÓLEO E GÁS S.A.  25291  12.091.809/0001-55
1                          PETRO RIO S.A.  22187  10.629.105/0001-68
2             PETROBRAS DISTRIBUIDORA S/A  24295  34.274.233/0001-02
3      PETROLEO BRASILEIRO S.A. PETROBRAS   9512  33.000.167/0001-01
4             PETROLEO LUB DO NORDESTE SA   9520  07.275.159/0001-68
5                     PETRORECÔNCAVO S.A.  25780  03.342.704/0001-30
6                  PRONOR PETROQUIMICA SA   9784  13.552.070/0001-02
7  REFINARIA DE PETROLEOS MANGUINHOS S.A.   9989  33.412.081/0001-96

In [21]:
# prio  22187 
# petro 9512
cia = bf.Finance(company_id='33.000.167/0001-01', account_basis='consolidated', unit=1_000_000, first_period='2016-01-01')
cia

Selected first_period = 2016-01-01
Selected last_period = 2200-12-31

In [22]:
cia.operating_performance(is_on=True).tail(10)

,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
return_on_assets,NaN,0.030971,0.049580,0.062666,0.035367,0.140921
return_on_capital,NaN,0.043979,0.074909,0.097621,0.053079,0.217617
return_on_equity,NaN,0.001492,0.099025,0.144493,0.020880,0.344734
gross_margin,0.318406,0.322864,0.382547,0.403993,0.455627,0.485205
operating_margin,0.038494,0.087877,0.132881,0.178407,0.120373,0.307396
net_margin,-0.046162,0.001329,0.086052,0.135552,0.022957,0.236960

In [23]:
cia.info

{'CVM Number': 9512,
 'Fiscal Number': '33.000.167/0001-01',
 'Company Name': 'PETROLEO BRASILEIRO S.A. PETROBRAS',
 'First Annual Report': '2010-12-31',
 'Last Annual Report': '2021-12-31',
 'Last Quarterly Report': '2021-09-30'}

In [41]:
cia.assets

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,804945.0,831515.0,860473.0,926011.0,987419.0,972951.0
1,Ativo Circulante,1.01,True,145907.0,155909.0,143606.0,112101.0,142323.0,168247.0
2,Caixa e Equivalentes de Caixa,1.01.01,True,69108.0,74494.0,53854.0,29714.0,60856.0,58410.0
3,Aplicações Financeiras,1.01.02,True,2556.0,6237.0,4198.0,3580.0,3424.0,3630.0
4,Contas a Receber,1.01.03,True,15543.0,16446.0,22264.0,15164.0,24584.0,35538.0
...,...,...,...,...,...,...,...,...,...
38,Depósitos Judiciais,1.02.01.10.04,False,NaN,18465.0,26003.0,33198.0,37838.0,44858.0
39,Outros Realizáveis a Longo Prazo,1.02.01.10.05,False,NaN,10202.0,8071.0,6061.0,3299.0,2716.0
40,Investimentos,1.02.02,True,9948.0,12554.0,10690.0,22166.0,17010.0,8427.0
41,Imobilizado,1.02.03,True,571876.0,584357.0,609829.0,641949.0,645434.0,699406.0
42,Intangível,1.02.04,True,10663.0,7740.0,10870.0,78489.0,77678.0,16879.0

In [42]:
cia.show_accounts = 2
cia.assets

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,804945.0,831515.0,860473.0,926011.0,987419.0,972951.0
1,Ativo Circulante,1.01,True,145907.0,155909.0,143606.0,112101.0,142323.0,168247.0
2,Caixa e Equivalentes de Caixa,1.01.01,True,69108.0,74494.0,53854.0,29714.0,60856.0,58410.0
3,Aplicações Financeiras,1.01.02,True,2556.0,6237.0,4198.0,3580.0,3424.0,3630.0
4,Contas a Receber,1.01.03,True,15543.0,16446.0,22264.0,15164.0,24584.0,35538.0
5,Estoques,1.01.04,True,27622.0,28081.0,34822.0,33009.0,29500.0,40486.0
6,Tributos a Recuperar,1.01.06,True,8153.0,8062.0,7883.0,14287.0,13483.0,7511.0
7,Outros Ativos Circulantes,1.01.08,True,22925.0,22589.0,20585.0,16347.0,10476.0,22672.0
8,Ativo Não Circulante,1.02,True,659038.0,675606.0,716867.0,813910.0,845096.0,804704.0
9,Ativo Realizável a Longo Prazo,1.02.01,True,66551.0,70955.0,85478.0,71306.0,104974.0,79992.0
10,Investimentos,1.02.02,True,9948.0,12554.0,10690.0,22166.0,17010.0,8427.0
11,Imobilizado,1.02.03,True,571876.0,584357.0,609829.0,641949.0,645434.0,699406.0
12,Intangível,1.02.04,True,10663.0,7740.0,10870.0,78489.0,77678.0,16879.0

In [43]:
cia.equity.head(10)

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Patrimônio Líquido Consolidado,2.03,True,252743.0,269609.0,283543.0,299137.0,311150.0,389581.0
1,Capital Social Realizado,2.03.01,True,205432.0,205432.0,205432.0,205432.0,205432.0,205432.0
2,Reservas de Capital,2.03.02,True,1035.0,2457.0,2458.0,2449.0,2449.0,3097.0
3,Reservas de Lucros,2.03.04,True,77800.0,77364.0,95364.0,124829.0,127512.0,164244.0
4,Outros Resultados Abrangentes,2.03.08,True,-34037.0,-21268.0,-26029.0,-37169.0,-26983.0,14556.0
5,Participação dos Acionistas Não Controladores,2.03.09,True,2513.0,5624.0,6318.0,3596.0,2740.0,2252.0

In [44]:
cia.liabilities_and_equity.head(10)

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Passivo Total,2,True,804945.0,831515.0,860473.0,926011.0,987419.0,972951.0
1,Passivo Circulante,2.01,True,81167.0,82535.0,97068.0,116147.0,136287.0,134913.0
2,Obrigações Sociais e Trabalhistas,2.01.01,True,7159.0,4331.0,6426.0,6632.0,10150.0,8335.0
3,Fornecedores,2.01.02,True,18781.0,19077.0,24516.0,22576.0,35645.0,30597.0
4,Obrigações Fiscais,2.01.03,True,412.0,990.0,817.0,1114.0,1029.0,4089.0
5,Empréstimos e Financiamentos,2.01.04,True,31855.0,23244.0,14296.0,41139.0,51364.0,50631.0
6,Outras Obrigações,2.01.05,True,18683.0,23344.0,30575.0,28025.0,26491.0,32789.0
7,Provisões,2.01.06,True,2672.0,10254.0,16630.0,3577.0,8049.0,3632.0
8,Passivos sobre Ativos Não-Correntes a Venda e ...,2.01.07,True,1605.0,1295.0,3808.0,13084.0,3559.0,4840.0
9,Passivo Não Circulante,2.02,True,471035.0,479371.0,479862.0,510727.0,539982.0,448457.0

In [16]:
cia.income

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Receita de Venda de Bens e/ou Serviços,3.01,True,282589.00,283695.00,310255.00,302245.00,272069.00,452668.00
1,Custo dos Bens e/ou Serviços Vendidos,3.02,True,-192611.00,-192100.00,-191568.00,-180140.00,-148107.00,-233031.00
2,Resultado Bruto,3.03,True,89978.00,91595.00,118687.00,122105.00,123962.00,219637.00
3,Despesas/Receitas Operacionais,3.04,True,-73496.00,-53822.00,-56222.00,-40404.00,-74341.00,-8806.00
4,Despesas com Vendas,3.04.01,True,-13825.00,-14510.00,-13938.00,-17746.00,-25020.00,-22806.00
5,Despesas Gerais e Administrativas,3.04.02,True,-11482.00,-9314.00,-8146.00,-8368.00,-5525.00,-6340.00
6,Outras Despesas Operacionais,3.04.05,True,-47560.00,-32147.00,-36058.00,-14837.00,-40524.00,11913.00
7,Tributárias,3.04.05.01,False,-2456.00,-5921.00,-2475.00,-2484.00,-4971.00,-2180.00
8,Custo com Pesquisa e Desenvolvimento Tecnológico,3.04.05.02,False,-1826.00,-1831.00,-2345.00,-2268.00,-1819.00,-3033.00
9,Custo Exploratório para Extração de Petróleo e...,3.04.05.03,False,-6056.00,-2563.00,-1904.00,-3197.00,-4170.00,-3731.00
10,Outras Despesas/Receitas Operacionais Líquidas,3.04.05.05,False,-16925.00,-17970.00,-21645.00,4742.00,4695.00,3967.00
11,Reversão/Perdas no valor de recuperação de ati...,3.04.05.07,False,-20297.00,-3862.00,-7689.00,-11630.00,-34259.00,16890.00
12,Resultado de Equivalência Patrimonial,3.04.06,True,-629.00,2149.00,1920.00,547.00,-3272.00,8427.00
13,Resultado Antes do Resultado Financeiro e dos ...,3.05,True,16482.00,37773.00,62465.00,81701.00,49621.00,210831.00
14,Resultado Financeiro,3.06,True,-27185.00,-31599.00,-23498.00,-34459.00,-49584.00,-59256.00
15,Receitas Financeiras,3.06.01,True,3638.00,3337.00,8713.00,5271.00,2821.00,4458.00
16,Receitas Financeiras,3.06.01.01,False,3638.00,3337.00,8713.00,5271.00,2821.00,4458.00
17,Despesas Financeiras,3.06.02,True,-30823.00,-34936.00,-32211.00,-39730.00,-52405.00,-63714.00
18,Despesas Financeiras,3.06.02.01,False,-24176.00,-23612.00,-20479.00,-27878.00,-31108.00,-27636.00
19,Variações Monetárias e Cambiais Líquidas,3.06.02.02,False,-6647.00,-11324.00,-11732.00,-11852.00,-21297.00,-36078.00
20,Resultado Antes dos Tributos sobre o Lucro,3.07,True,-10703.00,6174.00,38967.00,47242.00,37.00,151575.00
21,Imposto de Renda e Contribuição Social sobre o...,3.08,True,-2342.00,-5797.00,-15462.00,-16400.00,6209.00,-44311.00
22,Corrente,3.08.01,True,-5622.00,-4345.00,-14165.00,-5364.00,-2731.00,-22667.00
23,Diferido,3.08.02,True,3280.00,-1452.00,-1297.00,-11036.00,8940.00,-21644.00
24,Resultado Líquido das Operações Continuadas,3.09,True,-13045.00,377.00,23505.00,30842.00,6246.00,107264.00
25,Resultado Líquido de Operações Descontinuadas,3.10,True,NaN,NaN,3193.00,10128.00,NaN,NaN
26,Lucro/Prejuízo Líquido das Operações Descontin...,3.10.01,True,NaN,NaN,3193.00,10128.00,NaN,NaN
27,Lucro/Prejuízo Consolidado do Período,3.11,True,-13045.00,377.00,26698.00,40970.00,6246.00,107264.00
28,Atribuído a Sócios da Empresa Controladora,3.11.01,True,-14824.00,-446.00,25779.00,40137.00,7108.00,106668.00
29,Atribuído a Sócios Não Controladores,3.11.02,True,1779.00,823.00,919.00,833.00,-862.00,596.00
30,ON,3.99.01.01,False,-1.14,-0.03,1.98,3.08,0.54,8.18
31,PN,3.99.01.02,False,-1.14,-0.03,1.98,3.08,0.54,8.18
32,ON,3.99.02.01,False,-1.14,-0.03,1.98,3.08,0.54,8.18
33,PN,3.99.02.02,False,-1.14,-0.03,1.98,3.08,0.54,8.18

In [ ]:
# cia.earnings_per_share

In [ ]:
cia.show_accounts = 1
cia.income

In [12]:
df = cia.cash_flow
df

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Caixa Líquido Atividades Operacionais,6.01,True,89709.0,86467.0,95846.0,101766.0,148106.0,203126.0
1,Caixa Gerado nas Operações,6.01.01,True,98677.0,95952.0,110901.0,134453.0,134827.0,218158.0
2,Lucro (Prejuízo) Consolidado do Período,6.01.01.01,False,-13045.0,NaN,NaN,NaN,NaN,NaN
3,Lucro (Prejuízo) do Exercício,6.01.01.01,False,NaN,377.0,26698.0,40970.0,NaN,NaN
4,Lucro líquido do exercício,6.01.01.01,False,NaN,NaN,NaN,NaN,6246.0,107264.0
...,...,...,...,...,...,...,...,...,...
101,Operações descontinuadas-Recursos líquidos ger...,6.03.09,False,NaN,NaN,-558.0,NaN,NaN,NaN
102,Variação Cambial s/ Caixa e Equivalentes,6.04,True,-11656.0,619.0,8342.0,8397.0,8323.0,3650.0
103,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-28737.0,5386.0,-20640.0,-24125.0,31201.0,-2448.0
104,Saldo Inicial de Caixa e Equivalentes,6.05.01,True,97845.0,69108.0,74494.0,53854.0,29729.0,60930.0
105,Saldo Final de Caixa e Equivalentes,6.05.02,True,69108.0,74494.0,53854.0,29729.0,60930.0,58482.0

In [4]:
# df.query('account_code.str.startswith("6.01")')
value = ''
if value:
    print('com texto')
else:
    print('sem texto')

sem texto