In [53]:
import importlib
import pandas as pd
import numpy as np
import context # noqa
import brfinance.finance as bf
importlib.reload(bf)
pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40

In [54]:
bf.Finance.search_corp_name('brasilagro')

                                 corp_name corp_id      corp_fiscal_id
0  BRASILAGRO - CIA BRAS DE PROP AGRICOLAS   20036  07.628.528/0001-59

In [55]:
# prio  22187
# petro 9512
corporation = bf.Finance(identifier=20036)
corporation.info()

{'Corp. Name': 'BRASILAGRO - CIA BRAS DE PROP AGRICOLAS',
 'Corp. ID (CVM number)': 20036,
 'Corp. Fiscal ID': '07.628.528/0001-59',
 'First Annual Report': '2010-06-30',
 'Last Annual Report': '2021-06-30',
 'Last Quarterly Report': '2021-12-31'}

In [56]:
# corporation.corporation_id = 9512

In [61]:
corporation.report(
    rtype='liabilities',
    accounting_method='separate',
    unit=1_000_000,
    account_level=3,
    first_period='2015-01-01')

account_code.str.startswith("2.01") or account_code.str.startswith("2.02")

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
0,Passivo Circulante,2.01,True,124.134,76.083,112.742,104.550,164.107,253.281,528.541,432.989
1,Obrigações Sociais e Trabalhistas,2.01.01,True,11.016,8.642,9.813,11.573,13.938,15.162,17.464,7.178
2,Fornecedores,2.01.02,True,24.062,37.518,50.029,60.920,68.472,70.355,152.670,136.533
3,Obrigações Fiscais,2.01.03,True,1.526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Empréstimos e Financiamentos,2.01.04,True,31.258,23.714,43.141,16.282,69.340,147.702,309.345,249.237
5,Outras Obrigações,2.01.05,True,56.272,6.209,9.759,15.775,12.357,20.062,49.062,40.041
6,Passivo Não Circulante,2.02,True,19.828,19.264,11.356,176.635,169.144,431.979,464.247,447.670
7,Empréstimos e Financiamentos,2.02.01,True,15.642,13.605,9.976,173.524,168.529,404.815,460.625,439.824
8,Outras Obrigações,2.02.02,True,4.186,5.659,1.380,3.111,0.615,27.164,3.622,7.846

In [60]:
corporation.report(
    rtype='cash_flow',
    account_level=2,
    unit=1_000_000,
    first_period='2015-01-01')

account_code.str.startswith("6")

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
0,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
1,Caixa Líquido Atividades de Investimento,6.02,True,19.952,149.773,-13.527,-65.700,-21.266,-29.295,-214.009,-194.268
2,Caixa Líquido Atividades de Financiamento,6.03,True,-19.902,-164.749,-61.930,125.414,-27.621,18.451,954.857,678.425
3,Variação Cambial s/ Caixa e Equivalentes,6.04,True,NaN,NaN,NaN,3.066,-0.138,6.238,-4.018,-0.268
4,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-11.125,-21.416,-10.406,60.516,2.313,64.418,888.062,735.890

In [47]:
accounts = [
    '3.01', '3.02', '3.03', '3.04', '3.04.01', '3.04.02', '3.04.03', '3.04.04',
    '3.04.05', '3.04.06', '3.05', '3.06', '3.07', '3.08', '3.09', '3.10',
    '3.10.01', '3.11', '1.01', '1.01.01', '1.01.02', '1.01.03', '1.01.04',
    '1.01.05', '1.01.06', '1.01.07', '1.01.08', '1.02.01', '1.02.02',
    '1.02.03', '1.02.04', '2.01', '2.01.01', '2.01.02', '2.01.03', '2.01.04',
    '2.01.05', '2.01.06', '2.02', '2.02.01', '2.02.02', '2.02.03', '2.02.04',
    '2.03', '2.03.09', '6.01', '6.01.01', '6.01.02'
]
df = corporation.get_accounts(accounts, unit=1_000_000, first_period='2015-01-01')
df

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
0,Ativo Circulante,1.01,True,448.837,264.879,171.102,372.279,440.827,642.464,1761.206,1782.404
1,Caixa e Equivalentes de Caixa,1.01.01,True,75.620,54.204,43.798,104.314,106.627,171.045,1059.107,899.711
2,Aplicações Financeiras,1.01.02,True,273.258,113.559,6.972,11.215,4.038,NaN,NaN,NaN
3,Contas a Receber,1.01.03,True,47.200,32.137,55.324,96.836,127.307,184.051,193.094,325.670
4,Estoques,1.01.04,True,32.225,18.197,22.658,69.622,97.068,138.778,265.859,125.617
...,...,...,...,...,...,...,...,...,...,...,...
37,Resultado Líquido das Operações Continuadas,3.09,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
38,Lucro/Prejuízo Consolidado do Período,3.11,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
39,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
40,Caixa Gerado nas Operações,6.01.01,True,-11.046,-11.723,2.926,-10.316,20.867,-38.392,-185.114,-167.461
41,Variações nos Ativos e Passivos,6.01.02,True,-0.129,5.283,62.125,8.052,30.471,107.416,336.346,419.607

In [22]:
corporation.operating_performance(is_on=True).tail(10)

,2010-06-30,2011-06-30,2012-06-30,2013-06-30,2014-06-30,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
return_on_assets,NaN,0.009826,-0.011613,0.024190,-0.023429,0.125831,-0.018762,-0.000143,0.120160,0.104559,0.079866,NaN,NaN
return_on_capital,NaN,NaN,NaN,NaN,-0.029905,0.174954,-0.037203,-0.000197,0.145617,0.134596,0.098287,NaN,NaN
return_on_equity,NaN,0.026145,-0.011440,0.051393,-0.022764,0.309656,0.010622,0.039724,0.189279,0.234274,0.135775,NaN,NaN
gross_margin,-2.154006,0.393006,0.126040,0.301817,0.089831,0.544835,0.003263,0.259860,0.405514,0.425254,0.313941,NaN,0.465307
operating_margin,-3.116285,0.068860,-0.055882,0.072821,-0.118651,0.278285,-0.141293,-0.000663,0.276353,0.222071,0.153753,NaN,0.275257
net_margin,-2.027888,0.144721,-0.042274,0.117536,-0.087788,0.482720,0.059110,0.148232,0.328953,0.318831,0.169531,NaN,0.356314

In [42]:
corporation._MAIN_DF.query(
    'report_type == "annual" and period_reference == "2021-06-30"')

,corp_name,corp_id,corp_fiscal_id,report_type,report_version,period_reference,period_begin,period_end,period_order,account_code,account_name,accounting_method,account_fixed,account_value,equity_statement_column
1,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,NaT,2020-06-30,-1,1,Ativo Total,consolidated,True,2044.368,nan
24,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,NaT,2021-06-30,0,1,Ativo Total,consolidated,True,3428.318,nan
39,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,NaT,2021-06-30,0,1.01,Ativo Circulante,consolidated,True,1761.206,nan
55,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,NaT,2020-06-30,-1,1.01,Ativo Circulante,consolidated,True,642.464,nan
82,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,NaT,2021-06-30,0,1.01.01,Caixa e Equivalentes de Caixa,consolidated,True,1059.107,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,2019-07-01,2020-06-30,-1,7.08.05,Outros,consolidated,True,42.000,nan
7736,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,2020-07-01,2021-06-30,0,7.08.05,Outros,consolidated,True,75.441,nan
7740,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,2020-07-01,2021-06-30,0,7.08.05.01,Dividendos mínimos obrigatórios,consolidated,False,75.441,nan
7750,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,2019-07-01,2020-06-30,-1,7.08.05.01,Dividendos mínimos obrigatórios,consolidated,False,28.394,nan
7753,BRASILAGRO - CIA BRAS DE PROP AGRICOLAS,20036,07.628.528/0001-59,annual,1,2021-06-30,2019-07-01,2020-06-30,-1,7.08.05.02,Dividendos adicionais propostos,consolidated,False,13.606,nan

In [46]:
corporation.equity(account_levels=2)

,account_name,account_code,account_fixed,2010-06-30,2011-06-30,2012-06-30,2013-06-30,2014-06-30,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
0,Patrimônio Líquido Consolidado,2.03,True,560.828,576.923,558.968,586.985,583.906,752.106,687.488,667.468,755.864,880.533,1121.569,2182.601,2451.476
1,Capital Social Realizado,2.03.01,True,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,699.811,1587.985,1587.985
2,Reservas de Capital,2.03.02,True,NaN,0.996,2.134,3.385,2.267,2.125,-35.432,-35.272,-33.211,-31.563,-65.793,-85.617,-84.241
3,Reservas de Lucros,2.03.04,True,NaN,NaN,NaN,6.296,NaN,129.489,98.691,75.101,164.968,288.996,372.212,600.811,416.252
4,Lucros/Prejuízos Acumulados,2.03.05,True,-29.641,-14.898,-20.470,NaN,-10.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,407.208
5,Ajustes de Avaliação Patrimonial,2.03.06,True,NaN,NaN,-6.920,-6.920,8.403,36.268,40.005,43.415,NaN,NaN,NaN,NaN,NaN
6,Outros Resultados Abrangentes,2.03.08,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.883,38.876,115.339,79.422,124.272
7,Participação dos Acionistas Não Controladores,2.03.09,True,6.245,6.601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
corporation.liabilities_and_equity(account_levels=2)

,account_name,account_code,account_fixed,2010-06-30,2011-06-30,2012-06-30,2013-06-30,2014-06-30,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31
0,Passivo Total,2,True,710.021,751.271,735.762,770.830,828.382,1017.840,855.002,883.293,1179.599,1357.614,2044.368,3428.318,3629.165
1,Passivo Circulante,2.01,True,96.909,112.252,111.413,114.544,179.545,199.021,112.035,157.156,203.153,226.618,400.092,661.292,586.217
2,Obrigações Sociais e Trabalhistas,2.01.01,True,4.143,4.801,7.436,8.752,8.730,11.215,8.856,11.513,14.300,17.093,19.600,22.536,10.746
3,Fornecedores,2.01.02,True,63.223,59.956,45.009,51.427,52.978,54.385,48.863,80.261,106.445,92.954,111.170,186.890,196.270
4,Obrigações Fiscais,2.01.03,True,0.614,0.767,3.102,2.306,6.501,23.377,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Empréstimos e Financiamentos,2.01.04,True,28.689,37.899,43.067,44.929,62.253,50.900,51.615,56.620,70.088,103.111,243.123,352.591,289.226
6,Outras Obrigações,2.01.05,True,0.240,8.829,12.799,7.130,49.083,59.144,2.701,8.762,12.320,13.460,26.199,99.275,89.975
7,Passivo Não Circulante,2.02,True,52.284,62.096,65.381,69.301,64.931,66.713,55.479,58.669,220.582,250.463,522.707,584.425,591.472
8,Empréstimos e Financiamentos,2.02.01,True,49.299,55.436,51.294,56.924,57.909,59.179,48.230,55.555,205.932,230.188,423.353,509.585,497.873
9,Outras Obrigações,2.02.02,True,0.782,0.492,11.392,1.763,0.967,2.342,5.794,1.520,13.443,19.451,63.838,46.681,70.419
10,Tributos Diferidos,2.02.03,True,2.203,6.168,2.695,5.812,2.482,1.508,NaN,NaN,NaN,NaN,34.031,26.714,21.541
11,Provisões,2.02.04,True,NaN,NaN,NaN,4.802,3.573,3.684,1.455,1.594,1.207,0.824,1.485,1.445,1.639
12,Patrimônio Líquido Consolidado,2.03,True,560.828,576.923,558.968,586.985,583.906,752.106,687.488,667.468,755.864,880.533,1121.569,2182.601,2451.476
13,Capital Social Realizado,2.03.01,True,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,584.224,699.811,1587.985,1587.985
14,Reservas de Capital,2.03.02,True,NaN,0.996,2.134,3.385,2.267,2.125,-35.432,-35.272,-33.211,-31.563,-65.793,-85.617,-84.241
15,Reservas de Lucros,2.03.04,True,NaN,NaN,NaN,6.296,NaN,129.489,98.691,75.101,164.968,288.996,372.212,600.811,416.252
16,Lucros/Prejuízos Acumulados,2.03.05,True,-29.641,-14.898,-20.470,NaN,-10.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,407.208
17,Ajustes de Avaliação Patrimonial,2.03.06,True,NaN,NaN,-6.920,-6.920,8.403,36.268,40.005,43.415,NaN,NaN,NaN,NaN,NaN
18,Outros Resultados Abrangentes,2.03.08,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.883,38.876,115.339,79.422,124.272
19,Participação dos Acionistas Não Controladores,2.03.09,True,6.245,6.601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
corporation.income

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Receita de Venda de Bens e/ou Serviços,3.01,True,282589.00,283695.00,310255.00,302245.00,272069.00,452668.00
1,Custo dos Bens e/ou Serviços Vendidos,3.02,True,-192611.00,-192100.00,-191568.00,-180140.00,-148107.00,-233031.00
2,Resultado Bruto,3.03,True,89978.00,91595.00,118687.00,122105.00,123962.00,219637.00
3,Despesas/Receitas Operacionais,3.04,True,-73496.00,-53822.00,-56222.00,-40404.00,-74341.00,-8806.00
4,Despesas com Vendas,3.04.01,True,-13825.00,-14510.00,-13938.00,-17746.00,-25020.00,-22806.00
5,Despesas Gerais e Administrativas,3.04.02,True,-11482.00,-9314.00,-8146.00,-8368.00,-5525.00,-6340.00
6,Outras Despesas Operacionais,3.04.05,True,-47560.00,-32147.00,-36058.00,-14837.00,-40524.00,11913.00
7,Tributárias,3.04.05.01,False,-2456.00,-5921.00,-2475.00,-2484.00,-4971.00,-2180.00
8,Custo com Pesquisa e Desenvolvimento Tecnológico,3.04.05.02,False,-1826.00,-1831.00,-2345.00,-2268.00,-1819.00,-3033.00
9,Custo Exploratório para Extração de Petróleo e...,3.04.05.03,False,-6056.00,-2563.00,-1904.00,-3197.00,-4170.00,-3731.00
10,Outras Despesas/Receitas Operacionais Líquidas,3.04.05.05,False,-16925.00,-17970.00,-21645.00,4742.00,4695.00,3967.00
11,Reversão/Perdas no valor de recuperação de ati...,3.04.05.07,False,-20297.00,-3862.00,-7689.00,-11630.00,-34259.00,16890.00
12,Resultado de Equivalência Patrimonial,3.04.06,True,-629.00,2149.00,1920.00,547.00,-3272.00,8427.00
13,Resultado Antes do Resultado Financeiro e dos ...,3.05,True,16482.00,37773.00,62465.00,81701.00,49621.00,210831.00
14,Resultado Financeiro,3.06,True,-27185.00,-31599.00,-23498.00,-34459.00,-49584.00,-59256.00
15,Receitas Financeiras,3.06.01,True,3638.00,3337.00,8713.00,5271.00,2821.00,4458.00
16,Receitas Financeiras,3.06.01.01,False,3638.00,3337.00,8713.00,5271.00,2821.00,4458.00
17,Despesas Financeiras,3.06.02,True,-30823.00,-34936.00,-32211.00,-39730.00,-52405.00,-63714.00
18,Despesas Financeiras,3.06.02.01,False,-24176.00,-23612.00,-20479.00,-27878.00,-31108.00,-27636.00
19,Variações Monetárias e Cambiais Líquidas,3.06.02.02,False,-6647.00,-11324.00,-11732.00,-11852.00,-21297.00,-36078.00
20,Resultado Antes dos Tributos sobre o Lucro,3.07,True,-10703.00,6174.00,38967.00,47242.00,37.00,151575.00
21,Imposto de Renda e Contribuição Social sobre o...,3.08,True,-2342.00,-5797.00,-15462.00,-16400.00,6209.00,-44311.00
22,Corrente,3.08.01,True,-5622.00,-4345.00,-14165.00,-5364.00,-2731.00,-22667.00
23,Diferido,3.08.02,True,3280.00,-1452.00,-1297.00,-11036.00,8940.00,-21644.00
24,Resultado Líquido das Operações Continuadas,3.09,True,-13045.00,377.00,23505.00,30842.00,6246.00,107264.00
25,Resultado Líquido de Operações Descontinuadas,3.10,True,NaN,NaN,3193.00,10128.00,NaN,NaN
26,Lucro/Prejuízo Líquido das Operações Descontin...,3.10.01,True,NaN,NaN,3193.00,10128.00,NaN,NaN
27,Lucro/Prejuízo Consolidado do Período,3.11,True,-13045.00,377.00,26698.00,40970.00,6246.00,107264.00
28,Atribuído a Sócios da Empresa Controladora,3.11.01,True,-14824.00,-446.00,25779.00,40137.00,7108.00,106668.00
29,Atribuído a Sócios Não Controladores,3.11.02,True,1779.00,823.00,919.00,833.00,-862.00,596.00
30,ON,3.99.01.01,False,-1.14,-0.03,1.98,3.08,0.54,8.18
31,PN,3.99.01.02,False,-1.14,-0.03,1.98,3.08,0.54,8.18
32,ON,3.99.02.01,False,-1.14,-0.03,1.98,3.08,0.54,8.18
33,PN,3.99.02.02,False,-1.14,-0.03,1.98,3.08,0.54,8.18

In [ ]:
# corporation.earnings_per_share

In [ ]:
corporation.show_accounts = 1
corporation.income

In [12]:
df = corporation.cash_flow
df

,account_name,account_code,account_fixed,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Caixa Líquido Atividades Operacionais,6.01,True,89709.0,86467.0,95846.0,101766.0,148106.0,203126.0
1,Caixa Gerado nas Operações,6.01.01,True,98677.0,95952.0,110901.0,134453.0,134827.0,218158.0
2,Lucro (Prejuízo) Consolidado do Período,6.01.01.01,False,-13045.0,NaN,NaN,NaN,NaN,NaN
3,Lucro (Prejuízo) do Exercício,6.01.01.01,False,NaN,377.0,26698.0,40970.0,NaN,NaN
4,Lucro líquido do exercício,6.01.01.01,False,NaN,NaN,NaN,NaN,6246.0,107264.0
...,...,...,...,...,...,...,...,...,...
101,Operações descontinuadas-Recursos líquidos ger...,6.03.09,False,NaN,NaN,-558.0,NaN,NaN,NaN
102,Variação Cambial s/ Caixa e Equivalentes,6.04,True,-11656.0,619.0,8342.0,8397.0,8323.0,3650.0
103,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-28737.0,5386.0,-20640.0,-24125.0,31201.0,-2448.0
104,Saldo Inicial de Caixa e Equivalentes,6.05.01,True,97845.0,69108.0,74494.0,53854.0,29729.0,60930.0
105,Saldo Final de Caixa e Equivalentes,6.05.02,True,69108.0,74494.0,53854.0,29729.0,60930.0,58482.0

'1'