In [1]:
import pandas as pd
import context # noqa
import brfinance as bf

pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40
print(bf.__version__)
print(bf.__author__)

0.1.1
Carlos Carvalho

In [2]:
bf.dataset_info()

                                      Dataset Info
Number of account values (total rows)      7003913
Number of unique account codes                1902
Number of corporations                        1082
Number of Financial Statements               11755
First Financial Statement               2009-01-31
Last Financial Statement                2022-03-31

In [3]:
bf.search_in_dataset('petro')

                                corp_name corp_cvm_id      corp_fiscal_id
0            3R PETROLEUM ÓLEO E GÁS S.A.       25291  12.091.809/0001-55
1                          PETRO RIO S.A.       22187  10.629.105/0001-68
2             PETROBRAS DISTRIBUIDORA S/A       24295  34.274.233/0001-02
3      PETROLEO BRASILEIRO S.A. PETROBRAS        9512  33.000.167/0001-01
4             PETROLEO LUB DO NORDESTE SA        9520  07.275.159/0001-68
5                     PETRORECÔNCAVO S.A.       25780  03.342.704/0001-30
6                  PRONOR PETROQUIMICA SA        9784  13.552.070/0001-02
7  REFINARIA DE PETROLEOS MANGUINHOS S.A.        9989  33.412.081/0001-96

In [4]:
# prio  22187
# petro 9512
# brasilagro
corp = bf.Corporation(9512)
corp.info()

                                          Corporation Info
Corp. Name              PETROLEO BRASILEIRO S.A. PETROBRAS
Corp. CVM ID                                          9512
Corp. Fiscal ID (CNPJ)                  33.000.167/0001-01
First Annual Report                             2009-12-31
Last Annual Report                              2021-12-31
Last Quarterly Report                           2021-09-30

In [6]:
# corporation.corporation_id = 9512

In [8]:
corp.report(report_type='assets')

,account_name,account_code,account_fixed,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.729510e+11
1,Ativo Circulante,1.01,True,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.682470e+11
2,Caixa e Equivalentes de Caixa,1.01.01,True,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.841000e+10
3,Caixa e Bancos,1.01.01.01,False,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Financeiras,1.01.01.02,False,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Intangível,1.02.04,True,8.270864e+09,8.153873e+10,8.143361e+10,8.120676e+10,3.612100e+10,1.197600e+10,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.687900e+10
68,Intangíveis,1.02.04.01,True,7.346025e+09,8.063279e+10,8.048451e+10,8.026607e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Direitos e Concessões,1.02.04.01.02,False,5.606748e+09,7.895228e+10,7.880350e+10,7.870176e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Softwares,1.02.04.01.03,False,1.739277e+09,1.680513e+09,1.681011e+09,1.564311e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Goodwill,1.02.04.02,True,9.248390e+08,9.059360e+08,9.491000e+08,9.406830e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
corp.report(
    report_type='assets',
    accounting_method='separate',
    unit=1_000_000,
    account_level=3,
    first_period='2015-01-01'
)

,account_name,account_code,account_fixed,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,698646.0,682088.0,723855.0,839717.0,1129118.0,1178600.0,1248196.0
1,Ativo Circulante,1.01,True,81479.0,81264.0,81883.0,96541.0,143014.0,100863.0,170555.0
2,Caixa e Equivalentes de Caixa,1.01.01,True,16553.0,6267.0,1305.0,6334.0,4322.0,5180.0,2930.0
3,Aplicações Financeiras,1.01.02,True,2982.0,2487.0,3531.0,3974.0,3200.0,2963.0,3630.0
4,Contas a Receber,1.01.03,True,27701.0,31073.0,34239.0,36731.0,78813.0,44321.0,100110.0
5,Estoques,1.01.04,True,24015.0,23500.0,23165.0,29307.0,28206.0,25452.0,33906.0
6,Tributos a Recuperar,1.01.06,True,6506.0,5850.0,6183.0,5759.0,13241.0,11792.0,6368.0
7,Outros Ativos Circulantes,1.01.08,True,3722.0,12087.0,13460.0,14436.0,15232.0,11155.0,23611.0
8,Ativo Não Circulante,1.02,True,617167.0,600824.0,641972.0,743176.0,986104.0,1077737.0,1077641.0
9,Ativo Realizável a Longo Prazo,1.02.01,True,50059.0,46098.0,50816.0,74706.0,62718.0,88516.0,73779.0
10,Investimentos,1.02.02,True,115536.0,121191.0,149356.0,175827.0,182666.0,241875.0,269825.0
11,Imobilizado,1.02.03,True,442439.0,424771.0,435536.0,483375.0,662816.0,670088.0,717355.0
12,Intangível,1.02.04,True,9133.0,8764.0,6264.0,9268.0,77904.0,77258.0,16682.0

In [38]:
corp.report(
    rtype='cash_flow',
    account_level=2,
    unit=1_000_000,
    first_period='2015-01-01')

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
1,Caixa Líquido Atividades de Investimento,6.02,True,19.952,149.773,-13.527,-65.700,-21.266,-29.295,-214.009,-194.268
2,Caixa Líquido Atividades de Financiamento,6.03,True,-19.902,-164.749,-61.930,125.414,-27.621,18.451,954.857,678.425
3,Variação Cambial s/ Caixa e Equivalentes,6.04,True,NaN,NaN,NaN,3.066,-0.138,6.238,-4.018,-0.268
4,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-11.125,-21.416,-10.406,60.516,2.313,64.418,888.062,735.890

In [39]:
accounts = [
    '3.01', '3.02', '3.03', '3.04', '3.04.01', '3.04.02', '3.04.03', '3.04.04',
    '3.04.05', '3.04.06', '3.05', '3.06', '3.07', '3.08', '3.09', '3.10',
    '3.10.01', '3.11', '1.01', '1.01.01', '1.01.02', '1.01.03', '1.01.04',
    '1.01.05', '1.01.06', '1.01.07', '1.01.08', '1.02.01', '1.02.02',
    '1.02.03', '1.02.04', '2.01', '2.01.01', '2.01.02', '2.01.03', '2.01.04',
    '2.01.05', '2.01.06', '2.02', '2.02.01', '2.02.02', '2.02.03', '2.02.04',
    '2.03', '2.03.09', '6.01', '6.01.01', '6.01.02'
]
df = corp.get_accounts(accounts, unit=1_000_000, first_period='2015-01-01')
df

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Ativo Circulante,1.01,True,448.837,264.879,171.102,372.279,440.827,642.464,1761.206,1782.404
1,Caixa e Equivalentes de Caixa,1.01.01,True,75.620,54.204,43.798,104.314,106.627,171.045,1059.107,899.711
2,Aplicações Financeiras,1.01.02,True,273.258,113.559,6.972,11.215,4.038,NaN,NaN,NaN
3,Contas a Receber,1.01.03,True,47.200,32.137,55.324,96.836,127.307,184.051,193.094,325.670
4,Estoques,1.01.04,True,32.225,18.197,22.658,69.622,97.068,138.778,265.859,125.617
...,...,...,...,...,...,...,...,...,...,...,...
37,Resultado Líquido das Operações Continuadas,3.09,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
38,Lucro/Prejuízo Consolidado do Período,3.11,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
39,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
40,Caixa Gerado nas Operações,6.01.01,True,-11.046,-11.723,2.926,-10.316,20.867,-38.392,-185.114,-167.461
41,Variações nos Ativos e Passivos,6.01.02,True,-0.129,5.283,62.125,8.052,30.471,107.416,336.346,419.607

In [3]:
corp.operating_performance()

NameError: name 'corp' is not defined

In [6]:
corporation_info = {
        'Corp. Name': 1,
        'Corp. CVM ID': 2,
        'Corp. Fiscal ID (CNPJ)': 3,
}
pd.DataFrame.from_dict(corporation_info, orient='index', columns=['nome da coluna'])

                        nome da coluna
Corp. Name                           1
Corp. CVM ID                         2
Corp. Fiscal ID (CNPJ)               3

In [2]:
bf.create_dataset()

Downloading CVM raw files...

Processing CVM raw dataset...
itr_cia_aberta_2022.zip processed
dfp_cia_aberta_2021.zip processed
dfp_cia_aberta_2016.zip processed
dfp_cia_aberta_2013.zip processed
dfp_cia_aberta_2018.zip processed
dfp_cia_aberta_2010.zip processed
dfp_cia_aberta_2012.zip processed
dfp_cia_aberta_2014.zip processed
dfp_cia_aberta_2011.zip
processeddfp_cia_aberta_2015.zip processed
dfp_cia_aberta_2017.zip processed
dfp_cia_aberta_2019.zip processed
dfp_cia_aberta_2020.zip processed
itr_cia_aberta_2020.zip processed
itr_cia_aberta_2021.zip processed

Concatenating dataframes ...
Columns data type changed to category

Processed dataset saved

In [3]:
bf.update_dataset()

Downloading CVM raw files...
dfp_cia_aberta_2012.zip new/outdated -> download file
dfp_cia_aberta_2013.zip new/outdated -> download file
dfp_cia_aberta_2010.zip new/outdated -> download file
dfp_cia_aberta_2015.zip new/outdated -> download file
dfp_cia_aberta_2011.zip new/outdated -> download file
dfp_cia_aberta_2021.zip new/outdated -> download file
dfp_cia_aberta_2020.zip new/outdated -> download file
itr_cia_aberta_2021.zip new/outdated -> download file
dfp_cia_aberta_2017.zip new/outdated -> download file
itr_cia_aberta_2020.zip new/outdated -> download file
dfp_cia_aberta_2019.zip new/outdated -> download file
dfp_cia_aberta_2018.zip new/outdated -> download file
dfp_cia_aberta_2016.zip new/outdated -> download file
itr_cia_aberta_2022.zip new/outdated -> download file
dfp_cia_aberta_2014.zip new/outdated -> download file
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2010.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2011.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2012.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2013.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2014.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2015.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2016.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2017.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2018.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2019.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2020.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2020.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2021.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2021.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2022.zip

Processing CVM raw dataset...
itr_cia_aberta_2022.zip processed
dfp_cia_aberta_2021.zip processed
dfp_cia_aberta_2010.zip processed
dfp_cia_aberta_2016.zip processed
dfp_cia_aberta_2014.zip dfp_cia_aberta_2013.zipprocessed processed

dfp_cia_aberta_2015.zip processed
dfp_cia_aberta_2011.zip processed
dfp_cia_aberta_2012.zip processed
dfp_cia_aberta_2017.zip processed
dfp_cia_aberta_2018.zip processed
dfp_cia_aberta_2019.zip processed
dfp_cia_aberta_2020.zip processed
itr_cia_aberta_2020.zip processed
itr_cia_aberta_2021.zip processed

Concatenating dataframes ...
Columns data type changed to category

Processed dataset saved