In [1]:
import pandas as pd
import context # noqa
import brfinance as bf

pd.options.display.max_colwidth = 50
pd.options.display.max_rows = 40
print(bf.__version__)
print(bf.__author__)

0.1.1
Carlos Carvalho

In [2]:
bf.Corporation.dataset_info()

                                      Dataset Info
Number of account values (total rows)      6915503
Number of unique account codes                1902
Number of corporations                        1080
Number of Financial Statements               11628
First Financial Statement               2009-01-31
Last Financial Statement                2022-03-31

In [3]:
bf.Corporation.search_by_name('brasilagro')

                                 corp_name corp_cvm_id      corp_fiscal_id
0  BRASILAGRO - CIA BRAS DE PROP AGRICOLAS       20036  07.628.528/0001-59

In [4]:
# prio  22187
# petro 9512
corp = bf.Corporation(identifier=20036)
corp.info()

                                               Corporation Info
Corp. Name              BRASILAGRO - CIA BRAS DE PROP AGRICOLAS
Corp. CVM ID                                              20036
Corp. Fiscal ID (CNPJ)                       07.628.528/0001-59
First Annual Report                                  2010-06-30
Last Annual Report                                   2021-06-30
Last Quarterly Report                                2021-12-31

In [25]:
# corporation.corporation_id = 9512
# pd.DataFrame.from_dict(corp.info())
info = corp.info()
df = pd.DataFrame(info.items(), columns=['Item', 'Value'])
df.set_index('Item', inplace=True)
df.index.name = None
df

                                                         Value
Corp. Name             BRASILAGRO - CIA BRAS DE PROP AGRICOLAS
Corp. ID (CVM number)                                    20036
Corp. Fiscal ID                             07.628.528/0001-59
First Annual Report                                 2010-06-30
Last Annual Report                                  2021-06-30
Last Quarterly Report                               2021-12-31

In [5]:
corp.report(
    rtype='assets',
    accounting_method='separate',
    unit=1_000_000,
    account_level=3,
    first_period='2015-01-01')

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Ativo Total,1,True,896.068,782.835,791.566,1037.049,1213.784,1806.829,3175.389,3332.135
1,Ativo Circulante,1.01,True,330.473,163.084,88.052,253.643,288.072,363.589,1343.135,1151.712
2,Caixa e Equivalentes de Caixa,1.01.01,True,13.392,16.123,29.001,78.140,64.111,83.713,867.137,563.794
3,Aplicações Financeiras,1.01.02,True,87.197,77.613,1.408,11.216,1.245,NaN,NaN,NaN
4,Contas a Receber,1.01.03,True,196.768,33.122,23.765,70.215,83.924,95.461,144.944,234.643
5,Estoques,1.01.04,True,25.745,9.549,13.030,38.244,81.212,114.826,199.254,92.367
6,Ativos Biológicos,1.01.05,True,1.540,22.285,17.649,27.529,51.674,62.409,99.143,240.347
7,Tributos a Recuperar,1.01.06,True,5.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Outros Ativos Circulantes,1.01.08,True,0.804,4.392,3.199,28.299,5.906,7.180,32.657,20.561
9,Ativo Não Circulante,1.02,True,565.595,619.751,703.514,783.406,925.712,1443.240,1832.254,2180.423
10,Ativo Realizável a Longo Prazo,1.02.01,True,197.294,190.387,178.449,138.445,133.927,151.877,188.168,224.435
11,Investimentos,1.02.02,True,354.576,398.820,491.546,607.119,752.929,1095.870,1439.129,1765.381
12,Imobilizado,1.02.03,True,9.933,27.094,31.885,36.511,37.609,194.309,204.091,189.825
13,Intangível,1.02.04,True,3.792,3.450,1.634,1.331,1.247,1.184,0.866,0.782

In [38]:
corp.report(
    rtype='cash_flow',
    account_level=2,
    unit=1_000_000,
    first_period='2015-01-01')

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
1,Caixa Líquido Atividades de Investimento,6.02,True,19.952,149.773,-13.527,-65.700,-21.266,-29.295,-214.009,-194.268
2,Caixa Líquido Atividades de Financiamento,6.03,True,-19.902,-164.749,-61.930,125.414,-27.621,18.451,954.857,678.425
3,Variação Cambial s/ Caixa e Equivalentes,6.04,True,NaN,NaN,NaN,3.066,-0.138,6.238,-4.018,-0.268
4,Aumento (Redução) de Caixa e Equivalentes,6.05,True,-11.125,-21.416,-10.406,60.516,2.313,64.418,888.062,735.890

In [39]:
accounts = [
    '3.01', '3.02', '3.03', '3.04', '3.04.01', '3.04.02', '3.04.03', '3.04.04',
    '3.04.05', '3.04.06', '3.05', '3.06', '3.07', '3.08', '3.09', '3.10',
    '3.10.01', '3.11', '1.01', '1.01.01', '1.01.02', '1.01.03', '1.01.04',
    '1.01.05', '1.01.06', '1.01.07', '1.01.08', '1.02.01', '1.02.02',
    '1.02.03', '1.02.04', '2.01', '2.01.01', '2.01.02', '2.01.03', '2.01.04',
    '2.01.05', '2.01.06', '2.02', '2.02.01', '2.02.02', '2.02.03', '2.02.04',
    '2.03', '2.03.09', '6.01', '6.01.01', '6.01.02'
]
df = corp.get_accounts(accounts, unit=1_000_000, first_period='2015-01-01')
df

,account_name,account_code,account_fixed,2015-06-30,2016-06-30,2017-06-30,2018-06-30,2019-06-30,2020-06-30,2021-06-30,2021-12-31 (ltm)
0,Ativo Circulante,1.01,True,448.837,264.879,171.102,372.279,440.827,642.464,1761.206,1782.404
1,Caixa e Equivalentes de Caixa,1.01.01,True,75.620,54.204,43.798,104.314,106.627,171.045,1059.107,899.711
2,Aplicações Financeiras,1.01.02,True,273.258,113.559,6.972,11.215,4.038,NaN,NaN,NaN
3,Contas a Receber,1.01.03,True,47.200,32.137,55.324,96.836,127.307,184.051,193.094,325.670
4,Estoques,1.01.04,True,32.225,18.197,22.658,69.622,97.068,138.778,265.859,125.617
...,...,...,...,...,...,...,...,...,...,...,...
37,Resultado Líquido das Operações Continuadas,3.09,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
38,Lucro/Prejuízo Consolidado do Período,3.11,True,180.810,7.989,27.310,126.338,177.079,119.554,317.646,672.662
39,Caixa Líquido Atividades Operacionais,6.01,True,-11.175,-6.440,65.051,-2.264,51.338,69.024,151.232,252.001
40,Caixa Gerado nas Operações,6.01.01,True,-11.046,-11.723,2.926,-10.316,20.867,-38.392,-185.114,-167.461
41,Variações nos Ativos e Passivos,6.01.02,True,-0.129,5.283,62.125,8.052,30.471,107.416,336.346,419.607

In [3]:
corp.operating_performance()

NameError: name 'corp' is not defined

In [6]:
corporation_info = {
        'Corp. Name': 1,
        'Corp. CVM ID': 2,
        'Corp. Fiscal ID (CNPJ)': 3,
}
pd.DataFrame.from_dict(corporation_info, orient='index', columns=['nome da coluna'])

                        nome da coluna
Corp. Name                           1
Corp. CVM ID                         2
Corp. Fiscal ID (CNPJ)               3

In [2]:
bf.create_dataset()

Downloading CVM raw files...

Processing CVM raw dataset...
itr_cia_aberta_2022.zip processed
dfp_cia_aberta_2021.zip processed
dfp_cia_aberta_2016.zip processed
dfp_cia_aberta_2013.zip processed
dfp_cia_aberta_2018.zip processed
dfp_cia_aberta_2010.zip processed
dfp_cia_aberta_2012.zip processed
dfp_cia_aberta_2014.zip processed
dfp_cia_aberta_2011.zip
processeddfp_cia_aberta_2015.zip processed
dfp_cia_aberta_2017.zip processed
dfp_cia_aberta_2019.zip processed
dfp_cia_aberta_2020.zip processed
itr_cia_aberta_2020.zip processed
itr_cia_aberta_2021.zip processed

Concatenating dataframes ...
Columns data type changed to category

Processed dataset saved

In [3]:
bf.update_dataset()

Downloading CVM raw files...
dfp_cia_aberta_2012.zip new/outdated -> download file
dfp_cia_aberta_2013.zip new/outdated -> download file
dfp_cia_aberta_2010.zip new/outdated -> download file
dfp_cia_aberta_2015.zip new/outdated -> download file
dfp_cia_aberta_2011.zip new/outdated -> download file
dfp_cia_aberta_2021.zip new/outdated -> download file
dfp_cia_aberta_2020.zip new/outdated -> download file
itr_cia_aberta_2021.zip new/outdated -> download file
dfp_cia_aberta_2017.zip new/outdated -> download file
itr_cia_aberta_2020.zip new/outdated -> download file
dfp_cia_aberta_2019.zip new/outdated -> download file
dfp_cia_aberta_2018.zip new/outdated -> download file
dfp_cia_aberta_2016.zip new/outdated -> download file
itr_cia_aberta_2022.zip new/outdated -> download file
dfp_cia_aberta_2014.zip new/outdated -> download file
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2010.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2011.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2012.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2013.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2014.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2015.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2016.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2017.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2018.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2019.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2020.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2020.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2021.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2021.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2022.zip

Processing CVM raw dataset...
itr_cia_aberta_2022.zip processed
dfp_cia_aberta_2021.zip processed
dfp_cia_aberta_2010.zip processed
dfp_cia_aberta_2016.zip processed
dfp_cia_aberta_2014.zip dfp_cia_aberta_2013.zipprocessed processed

dfp_cia_aberta_2015.zip processed
dfp_cia_aberta_2011.zip processed
dfp_cia_aberta_2012.zip processed
dfp_cia_aberta_2017.zip processed
dfp_cia_aberta_2018.zip processed
dfp_cia_aberta_2019.zip processed
dfp_cia_aberta_2020.zip processed
itr_cia_aberta_2020.zip processed
itr_cia_aberta_2021.zip processed

Concatenating dataframes ...
Columns data type changed to category

Processed dataset saved