In [2]:
import context # noqa
import brfinance as bf

In [3]:
### Starting the dataset
bf.create_dataset()

Downloading CVM raw files...
dfp_cia_aberta_2020.zip new/outdated -> download file
itr_cia_aberta_2021.zip new/outdated -> download filedfp_cia_aberta_2021.zip new/outdated -> download file

http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2020.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/dfp_cia_aberta_2021.zip
http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/ITR/DADOS/itr_cia_aberta_2021.zip

Processing CVM raw dataset...
itr_cia_aberta_2022.zip processed
dfp_cia_aberta_2021.zip processed
dfp_cia_aberta_2016.zipdfp_cia_aberta_2013.zip  processed
processed
dfp_cia_aberta_2010.zipdfp_cia_aberta_2011.zip processed
 processed
dfp_cia_aberta_2015.zip processed
dfp_cia_aberta_2014.zip processed
dfp_cia_aberta_2017.zip processed
dfp_cia_aberta_2018.zip processed
dfp_cia_aberta_2012.zip processed
dfp_cia_aberta_2019.zip
 processeddfp_cia_aberta_2020.zip processed
itr_cia_aberta_2020.zip processed
itr_cia_aberta_2021.zip processed

Concatenating dataframes ...
Columns data type changed to category

Processed dataset saved

In [5]:
## Show dataset info
bf.dataset_info()

                                      Dataset Info
Number of account values (total rows)      7003913
Number of unique account codes                1902
Number of corporations                        1082
Number of Financial Statements               11755
First Financial Statement               2009-01-31
Last Financial Statement                2022-03-31

In [6]:
## Search a corporation in dataset by name
bf.search_in_dataset('petro')

                                corp_name corp_cvm_id      corp_fiscal_id
0            3R PETROLEUM ÓLEO E GÁS S.A.       25291  12.091.809/0001-55
1                          PETRO RIO S.A.       22187  10.629.105/0001-68
2             PETROBRAS DISTRIBUIDORA S/A       24295  34.274.233/0001-02
3      PETROLEO BRASILEIRO S.A. PETROBRAS        9512  33.000.167/0001-01
4             PETROLEO LUB DO NORDESTE SA        9520  07.275.159/0001-68
5                     PETRORECÔNCAVO S.A.       25780  03.342.704/0001-30
6                  PRONOR PETROQUIMICA SA        9784  13.552.070/0001-02
7  REFINARIA DE PETROLEOS MANGUINHOS S.A.        9989  33.412.081/0001-96

In [7]:
### The Corporation Class
## CVM (regulator) ID or Fiscal ID can be used for corporation identity
petro = bf.Corporation(9512)

In [8]:
# show corporation info
petro.info()

                                          Corporation Info
Corp. Name              PETROLEO BRASILEIRO S.A. PETROBRAS
Corp. CVM ID                                          9512
Corp. Fiscal ID (CNPJ)                  33.000.167/0001-01
First Annual Report                             2009-12-31
Last Annual Report                              2021-12-31
Last Quarterly Report                           2021-09-30

In [9]:

# show corporation assets
# default arguments: consolidated basis, one BRL as unit and all accounts
petro.report(rtype='assets')

,account_name,account_code,account_fixed,2009-12-31,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Ativo Total,1,True,3.504189e+11,5.168457e+11,6.000970e+11,6.690316e+11,7.529670e+11,7.933750e+11,9.001350e+11,8.049450e+11,8.315150e+11,8.604730e+11,9.260110e+11,9.874190e+11,9.729510e+11
1,Ativo Circulante,1.01,True,7.437357e+10,1.059022e+11,1.211637e+11,1.181018e+11,1.233510e+11,1.350230e+11,1.686070e+11,1.459070e+11,1.559090e+11,1.436060e+11,1.121010e+11,1.423230e+11,1.682470e+11
2,Caixa e Equivalentes de Caixa,1.01.01,True,2.903423e+10,2.941619e+10,3.574724e+10,2.762800e+10,3.717200e+10,4.423900e+10,9.784500e+10,6.910800e+10,7.449400e+10,5.385400e+10,2.971400e+10,6.085600e+10,5.841000e+10
3,Caixa e Bancos,1.01.01.01,False,2.853964e+09,3.293879e+09,3.731249e+09,2.024301e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aplicações Financeiras,1.01.01.02,False,2.618026e+10,2.612231e+10,3.201599e+10,2.560370e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Intangível,1.02.04,True,8.270864e+09,8.153873e+10,8.143361e+10,8.120676e+10,3.612100e+10,1.197600e+10,1.207200e+10,1.066300e+10,7.740000e+09,1.087000e+10,7.848900e+10,7.767800e+10,1.687900e+10
68,Intangíveis,1.02.04.01,True,7.346025e+09,8.063279e+10,8.048451e+10,8.026607e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Direitos e Concessões,1.02.04.01.02,False,5.606748e+09,7.895228e+10,7.880350e+10,7.870176e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Softwares,1.02.04.01.03,False,1.739277e+09,1.680513e+09,1.681011e+09,1.564311e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Goodwill,1.02.04.02,True,9.248390e+08,9.059360e+08,9.491000e+08,9.406830e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# show corporation liabilities with different arguments
petro.report(
    rtype='liabilities',
    accounting_method='separate', # in separate accounting basis
    unit=1_000_000, # in BRL million
    account_level=3, # show account details only up to level 3
    first_period='2015-01-01'
)

,account_name,account_code,account_fixed,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31
0,Passivo Circulante,2.01,True,105247.0,113431.0,132319.0,185554.0,274047.0,227895.0,269989.0
1,Obrigações Sociais e Trabalhistas,2.01.01,True,4212.0,6158.0,3662.0,5477.0,6056.0,9418.0,7655.0
2,Fornecedores,2.01.02,True,28172.0,24384.0,22179.0,29140.0,34453.0,75543.0,32734.0
3,Obrigações Fiscais,2.01.03,True,NaN,NaN,243.0,207.0,218.0,225.0,3599.0
4,Empréstimos e Financiamentos,2.01.04,True,54481.0,63149.0,75985.0,106319.0,191196.0,107666.0,187005.0
5,Outras Obrigações,2.01.05,True,15458.0,17037.0,20590.0,26152.0,26041.0,23625.0,30767.0
6,Provisões,2.01.06,True,2436.0,2533.0,9054.0,14649.0,3577.0,8049.0,3578.0
7,Passivos sobre Ativos Não-Correntes a Venda e ...,2.01.07,True,488.0,170.0,606.0,3610.0,12506.0,3369.0,4651.0
8,Passivo Não Circulante,2.02,True,338668.0,318427.0,327551.0,376938.0,559530.0,642295.0,590878.0
9,Empréstimos e Financiamentos,2.02.01,True,250865.0,211396.0,197501.0,223256.0,359846.0,447895.0,413637.0
10,Outras Obrigações,2.02.02,True,NaN,NaN,2169.0,2090.0,1984.0,1810.0,1637.0
11,Tributos Diferidos,2.02.03,True,NaN,NaN,2762.0,1028.0,9974.0,NaN,14807.0
12,Provisões,2.02.04,True,87803.0,107031.0,125119.0,150564.0,187726.0,192590.0,160797.0