In [1]:
import pandas as pd

pd.options.display.max_colwidth = 15
pd.options.display.max_rows = 40

In [3]:
%%time
file_path = '/home/crcj/GitHub/BrFin/data/processed/dataset.pkl.zst'
DATASET = pd.read_pickle(file_path)
DATASET

CPU times: user 80.4 ms, sys: 36 ms, total: 116 ms
Wall time: 116 ms

,CD_CVM,CNPJ_CIA,DENOM_CIA,is_annual,fs_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
0,94,92.693.019/...,PANATLANTIC...,True,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1,Ativo Total,True,NaN,211293000.0
1,94,92.693.019/...,PANATLANTIC...,True,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01,Ativo Circu...,True,NaN,164307000.0
2,94,92.693.019/...,PANATLANTIC...,True,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.01,Caixa e Equ...,True,NaN,2055000.0
3,94,92.693.019/...,PANATLANTIC...,True,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.02,Aplicações ...,True,NaN,44510000.0
4,94,92.693.019/...,PANATLANTIC...,True,consolidated,2010-12-31,2,NaT,2009-12-31,-1,1.01.02.02,Aplicações ...,True,NaN,44510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783055,518700,70.216.429/...,BRAMEX - BR...,True,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03,Remuneração...,True,NaN,328371.0
6783056,518700,70.216.429/...,BRAMEX - BR...,True,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.03.01,Juros,True,NaN,328371.0
6783057,518700,70.216.429/...,BRAMEX - BR...,True,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04,Remuneração...,True,NaN,-1200611.0
6783058,518700,70.216.429/...,BRAMEX - BR...,True,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.04.03,Lucros Reti...,True,NaN,-1200611.0
6783059,518700,70.216.429/...,BRAMEX - BR...,True,separate,2013-12-31,1,2013-01-01,2013-12-31,0,7.08.05,Outros,True,NaN,486752.0

In [4]:
DATASET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6783060 entries, 0 to 6783059
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   CD_CVM         category
 1   CNPJ_CIA       category
 2   DENOM_CIA      category
 3   is_annual      category
 4   fs_type        category
 5   DT_REFER       category
 6   VERSAO         category
 7   DT_INI_EXERC   category
 8   DT_FIM_EXERC   category
 9   ORDEM_EXERC    category
 10  CD_CONTA       category
 11  DS_CONTA       category
 12  ST_CONTA_FIXA  category
 13  COLUNA_DF      category
 14  VL_CONTA       category
dtypes: category(15)
memory usage: 210.8 MB

In [4]:
# df_dataset.query("CD_CVM == 9512")
# df_dataset.query("VL_CONTA == 0")
DATASET.VL_CONTA.nunique()

987144

In [8]:
DATASET.query("COLUNA_DF.notnull()")

,CD_CVM,CNPJ_CIA,DENOM_CIA,is_annual,is_consolidated,fs_type,DT_REFER,VERSAO,DT_INI_EXERC,DT_FIM_EXERC,ORDEM_EXERC,CD_CONTA,DS_CONTA,ST_CONTA_FIXA,COLUNA_DF,VL_CONTA
7125,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,5,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Iniciais,True,Capital Social I...,66060000.0
7126,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,5,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Iniciais,True,Reservas de Capi...,264000.0
7127,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,5,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Iniciais,True,Reservas de Lucro,47493000.0
7128,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,5,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Iniciais,True,Patrimônio Líquido,113817000.0
7129,94,92.693.019/0001-89,PANATLANTICA S.A.,True,True,5,2010-12-31,2,2009-01-01,2009-12-31,-1,5.01,Saldos Iniciais,True,Patrimônio Líqui...,113817000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782847,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,5,2013-12-31,1,2013-01-01,2013-12-31,0,5.05.01,Lucro Líquido do...,True,Patrimônio Líquido,-1200611.0
6782848,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,5,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Capital Social I...,47291001.0
6782849,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,5,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Reservas de Lucro,1455881.0
6782850,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,5,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Lucros ou Prejuí...,-36379890.0
6782851,518700,70.216.429/0001-04,BRAMEX - BRASIL ...,True,False,5,2013-12-31,1,2013-01-01,2013-12-31,0,5.07,Saldos Finais,True,Patrimônio Líquido,12366992.0